{% extends "/layouts/plain.html" %}
{% block content %}


    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('customerservice.customerserviceHome') }}">Customer Service</a></li>
        </ol>
    </nav>

    <!-- help topics Questions-->
    <div class="row">
        <h2>Common return questions</h2>
    </div>
    <a name='backtotop'></a>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return1">Can I return an item I bought?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return2">Why do so few vendors and Clearnet Market not allow returns?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return3">How do items bought from Clearnet Market that needed to be returned work?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return4">How long do I have to return an item?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return5">What if the item is past the return time?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return6">Do I have to pay for shipping?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#return7">My item was listed as non-returnable, is there anything I can do?</a>
        </div>
    </div>

    <br>
    <!-- END help topics Questions -->


    <!-- Return Links -->
    <br><br>
    <h2>Return Links</h2>
    <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201826610">Amazon Gift Return</a>
    <!-- End Return Links -->

    <!-- Begin Answers -->
    <br><br>
    <h2>Answers</h2>

    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return1'></a>
            <h4>Can I return an item I bought?</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            Yes you are allowed to return an item provided it meets these requirements:<br>
            <ul>
                <li>The item was listed as returnable</li>
                <li>You are not past the 14 day return time.</li>
            </ul>
        </div>
    </div>



    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return2'></a>
            <h4>Why do so few vendors and Clearnet Market not allow returns?</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>

        <div class="col-12">
            Due the fluctuation of cryptocurrencies, returning items can be profitable to buyers.  Example: They buy an
            item when bitcoin is 5000$ a coin.  Bitcoin goes to 10000$ a coin.  If the buyer initiates a return,
            then they get back coin worth twice as much.  Due to this, we do not allow returns to Clearnet Market and
            guide vendors to not do the same.
        </div>
    </div>



    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return3'></a>
            <h4>How do items bought from Clearnet Market that needed to be returned work?</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>

        <div class="col-12">
            If the Item is listed as an amazon item,  then the item was shipped as a gifted item.  Gifted items can be
            returned to Amazon via there return system.  Contact Amazon for customer service.
        </div>
    </div>



    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return4'></a>
            <h4>How long do I have to return an item?</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            From the time you place your order, you have 14 days.
        </div>
    </div>





    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return5'></a>
            <h4>What if the item is past the return time?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            If the shipping is taking a long time, then you should dispute the item if you are not sure and
            return before the time expires.  Once it has expired, you can message the vendor directly asking for help.
        </div>
    </div>




    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return6'></a>
            <h4>Do I have to pay for shipping on my return?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            The seller specifies this.
        </div>
    </div>


    <div class="row question linkcolor" style="margin-bottom: 25px;">
        <div class="col-12 ">
            <a name='return7'></a>
            <h4>My item was listed as non-returnable, is there anything I can do?</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            Special circumstances may arise such as receiving a broken or misrepresented.
            Use the "customer service" button on your order to ask a representative for help.
        </div>
    </div>

    <!-- END help topics Answers -->
{% endblock %}