{% extends "/layouts/plain.html" %}
{% block content %}





    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('customerservice.customerserviceHome') }}">Customer Service</a></li>
        </ol>
    </nav>
    <!-- help topics Questions-->
    <div class="row">
        <h2>Common Bitcoin Cash Questions</h2>
    </div>


    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin1">What is Bitcoin Cash?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin2">How do I get Bitcoin Cash?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin3">I sent Bitcoin Cash to the site and I dont see it ?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin4">I sent Bitcoin Cash to my private wallet and it hasnt appeared.</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin8">My coins have no confirmations for x hours, days even!</a>
        </div>
    </div>

    <br>
    <div class="row">
        <h2>Security Bitcoin Cash Questions</h2>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin5">How is my account protected from being scammed?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 question linkcolor">
            <a href="#bitcoin6">I dont have a computer, can I still use Bitcoins Cash?</a>
        </div>
    </div>


    <!-- END help topics Questions -->



    <br><br><br><br>
    <h2>Answers</h2>
    <!-- END help topics Answers -->
    <div class="row question linkcolor">
        <div class="col-12 ">
            <a name='bitcoin1'></a>
            <h4>What is Bitcoin?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            Bitcoin Cash is a currency, specifically a crypto-currency. It is peer-to-peer and decentralized,
            meaning it takes place
            without the need for banks, institutions, and goverment regulations.  Its a means of people to make
            transactions in this world without the barrier of there local currency rates.
        </div>
    </div>



    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin2'></a>
            <h4>How do I get Bitcoin?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
             www.kraken.com is an exchange we recommend.  Peer to Peer is always an option.
        </div>
    </div>


    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin3'></a>
            <h4>I sent Bitcoin Cash to the site and I dont see it ?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            I takes about 6 confirmations to have bitcoin Cash show in the wallet.  You can check the transaction here
            here https://www.blockchain.com/ or on tor <b> https://blockchainbdgpzk.onion/ </b> The best practice to
            speed up transactions
            is to use a higher fee when sending.  The higher the fee, the faster the processing. To Enable a higher fee, select
            'medium'
            or 'high' fee when sending coin.<b>Tip: Higher transaction fee will help your coins arrive safe and fast</b>
        </div>
    </div>


    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin4'></a>
            <h4>I sent Bitcoin Cash to my private wallet and it hasnt appeared.</h4>
            <div class="text-right">
                <a  href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            Bitcoin Cash transfers are not an instant process.  You can check how many confirmations have been made on your
            transaction here https://www.blockchain.com/ or on tor  <b> https://blockchainbdgpzk.onion/ </b>.
            Once it reaches about 6 confirmations, it appears in the wallet. <b>
            Tip: Higher transaction fee will help your coins
            arrive safe and fast</b>
        </div>
    </div>


    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin8'></a>
            <h4>My coins have had no confirmations for x hours, days even!</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            You can put in a ticket to support and we can check it for you.

        </div>
    </div>

    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin5'></a>
            <h4>How is my account protected from being scammed?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            A user on our site can be assured we have your safety in mind.  We accomplish this by holding your payment
            to the vendor in escrow
            for thirty days.  This gives time for the user to recieve the package, and decide if they want to return it.
            A customer has the right for 30 days after
            purchase to cancel or return the item unless specifically specified by the vendor.
        </div>
    </div>


    <div class="row question linkcolor">
        <div class="col-12">
            <a name='bitcoin6'></a>
            <h4>I dont have a computer, can I still use Bitcoins?</h4>
            <div class="text-right">
                <a href="#backtotop" role="button">Back to top</a>
            </div>
        </div>
        <div class="col-12">
            A computer is not needed as a phone can act as your wallet to buy and transfer coins.
        </div>
    </div>


    <div class="row" style="margin-bottom: 100px;">

    </div>


{% endblock %}