{% extends "/layouts/plain_nofooter.html" %}

{% block content %}

        <div class="row">
            <form method="post">
                {{ form.csrf_token }}

                <div class="row text-center">
                    <div class="col-12">
                        <h3>New Pin</h3>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-12 col-sm-4 col-sm-offset-4">Username</label>
                    <div class="col-12 col-sm-4 col-sm-offset-4">
                        {{ render_field(form.pin, placeholder="Enter New 4 digit Pin", class="form-control") }}

                        <div id="form_error">
					<span class="error">
					{% if form.pin.errors %}
                        {% for error in form.pin.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
					</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-12 col-sm-4 col-sm-offset-4">Username</label>
                    <div class="col-12 col-sm-4 col-sm-offset-4">
                        {{ render_field(form.pintwo, placeholder="Confirm New 4 digit Pin", class="form-control") }}

                        <div id="form_error">
					<span class="error">
					{% if form.pintwo.errors %}
                        {% for error in form.pintwo.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
					</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-12 text-center">
                        {{ render_field(form.submit,  value="Reset Pin", autocomplete="off", class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>

{% endblock %}