{% extends "/layouts/plain_nofooter.html" %}

{% block content %}


<div class="row">
 <form action="{{ url_for('auth.reset_with_token', token=token) }}" method="POST">
                    {{ form.csrf_token }}
{{ form.csrf_token }}


		<div class="row text-center">
			<div class="col-12">
				<h3>New Password</h3>
			</div>
		</div>

        <div class="form-group">
        <label class="col-12 col-sm-4 col-sm-offset-4">Password</label>
	        <div class="col-12 col-sm-4 col-sm-offset-4">
           {{ render_field(form.newpassword, placeholder="Enter New Password", class="form-control") }}

					<div id="form_error">
					<span class="error">
					{% if form.newpassword.errors %}
					{% for error in form.newpassword.errors %}
					{{ error }}
					{% endfor %}
					{% endif %}
					</span>
					</div>
	        </div>

        </div>

        <div class="form-group">
        <label class="col-12 col-sm-4 col-sm-offset-4">Confirm Password</label>
	        <div class="col-12 col-sm-4 col-sm-offset-4">
            {{ render_field(form.newpasswordtwo, placeholder="Enter New Password", class="form-control") }}

					<div id="form_error">
					<span class="error">
					{% if form.newpasswordtwo.errors %}
					{% for error in form.newpasswordtwo.errors %}
					{{ error }}
					{% endfor %}
					{% endif %}
					</span>
					</div>
	        </div>
        </div>


		<div class="form-group">
			<div class="col-12 text-center">
            {{ render_field(form.submit,  value="Reset", autocomplete="off", class="btn btn-primary") }}
			</div>
		</div>

 </form>
</div>



{% endblock %}