{% extends "/layouts/plain_nofooter.html" %}

{% block content %}

<div class="row mt-5 ">
    <div class="col-4 offset-4 bg-light rounded-2 p-3">
        <form method="post">
            {{ form.csrf_token }}

            <div class="row text-center">
                <div class="col-12">
                    <h3>Register</h3>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Username</label>
                <div class="col-12">
                    {{ render_field(form.username, placeholder="Username", autocomplete="off", class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.username.errors %}
                            {% for error in form.username.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Country</label>
                <div class="col-12">
                    {{ render_field(form.country, class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.country.errors %}
                            {% for error in form.country.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Currency</label>
                <div class="col-12">
                    {{ render_field(form.currency, class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.currency.errors %}
                            {% for error in form.currency.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Password</label>
                <div class="col-12">
                    {{ render_field(form.password, placeholder="Password", autocomplete="off", class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.password.errors %}
                            {% for error in form.password.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Confirm Password</label>
                <div class="col-12">
                    {{ render_field(form.passwordtwo, placeholder="Verify Password", autocomplete="off", class="form-control") }}

                    <div id="form_error">
                        <span class="error">
                            {% if form.passwordtwo.errors %}
                            {% for error in form.passwordtwo.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Wallet Pin (4 numbers)</label>
                <div class="col-12">
                    {{ render_field(form.walletpin, placeholder="Four digit Wallet Pin", autocomplete="off", class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.walletpin.errors %}
                            {% for error in form.walletpin.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Confirm Pin</label>
                <div class="col-12">
                    {{ render_field(form.walletpintwo, placeholder="Confirm Wallet Pin", autocomplete="off", class="form-control") }}
                    <div id="form_error">
                        <span class="error">
                            {% if form.walletpintwo.errors %}
                            {% for error in form.walletpintwo.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <div class="col-12 text-center">
                    {{ render_field(form.submit,  value="Register", autocomplete="off", class="btn btn-primary") }}
                </div>
            </div>

            <div class="text-center linkcolor mt-2" style="font-size: 10px">
                <div class="col-12">
                    By Registering, you agree to the
                    <a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 text-center linkcolor mb-1 mt-1">
                    <a href="{{ url_for('auth.login') }}">Login Here</a>
                </div>
                <div class="col-12 text-center linkcolor">
                    <a href="{{ url_for('auth.retrieve_password') }}">Lost your password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}