{% extends "/layouts/account_holder.html" %}

{% block content %}

    <div class="row justify-content-center">
        <!--Title -->
        <div id="form_error">
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        Form Error Old Password - {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="form_error">
            {% if form.newpassword.errors %}
                {% for error in form.newpassword.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        Form New Password - {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="form_error">
            {% if form.newpasswordtwo.errors %}
                {% for error in form.newpasswordtwo.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        Confirm New Password - {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div class="row justify-content-center">
        <form method="post">
            {{ form.csrf_token }}

            <div class="form-group">
                <label class="col-12">Old Pin</label>
                <div class="col-12">
                    {{ render_field(form.old_password, class="form-control", placeholder="Old Password") }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">New Pin</label>
                <div class="col-12">
                    {{ render_field(form.newpassword, class="form-control", placeholder="New Password") }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Confirm New Pin</label>
                <div class="col-12">
                    {{ render_field(form.newpasswordtwo, class="form-control", placeholder="Verify New Password") }}
                </div>
            </div>

            <div class="col-md-12 text-center">
                <label></label>
                <div class="col-12">
                    {{ render_field(form.submit,  value="Update", autocomplete="off", class="btn btn-primary") }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center linkcolor">
                    <a href="{{ url_for('auth.retrievepin') }}">Forgot your pin?</a>
                </div>
            </div>

        </form>
    </div>



{% endblock %}
