{% from "_formhelpers.html" import render_field %} {% include
'layouts/headers/_headerplain.html' %} {% include
'layouts/sublayout/_flashbar.html' %}
<body>
  <div class="container clearnetcontainer">
    <nav aria-label="breadcrumb" class="linkcolor">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('index') }}">Home</a>
        </li>
      </ol>
    </nav>

    <div class="row" style="margin-bottom: 200px">
      <div class="col-12 col-sm-12 col-md-3 border linkcolor">
        <b>Account Overview</b>
        <ul>
          <li>
            <a
              href="{{ url_for('auth.my_account', username=current_user.username) }}"
              >Account</a
            >
          </li>
          <li>
            <a href="{{ url_for('orders.orders_home') }}">Recent Orders</a>
          </li>
          <li>
            <a
              href="{{ url_for('achievements.profile_achs', username=current_user.username) }}"
              >My Achievements</a
            >
          </li>
          <li>
            <a href="{{ url_for('achievements.selectuserachs') }}"
              >Customize profile bar</a
            >
          </li>
          <li>
            <a href="{{ url_for('customerservice.customerserviceHome') }}">
              Customer Service
            </a>
          </li>
          <li>
            <a
              href="{{ url_for('main.notifications', username=current_user.username) }}"
            >
              Notifications
            </a>
          </li>
        </ul>
        <br />
        <b>Security</b>
        <ul>
          <li>
            <a href="{{ url_for('auth.change_pin') }}"> Wallet Pin </a>
          </li>
          <li>
            <a href="{{ url_for('auth.change_password') }}">
              Account Password
            </a>
          </li>
        </ul>
        {% if user.vendor_account == 1 %}
        <b>Vendor</b>
        <ul>
          <li>
            <a href="{{ url_for('vendorverification.vendorverification_home') }}"
              >Vendor Verification</a
            >
          </li>
          <li>
            <a href="{{ url_for('vendorcreate.vendorcreate_items_for_sale')}}"> My Items </a>
          </li>
          <li>
            <a href="{{ url_for('vendor.vendor_refunds') }}"> Issues </a>
          </li>
          <li>
            <a href="{{ url_for('vendor.vendor_ratings') }}"> Ratings </a>
          </li>
          <li>
            <a href="{{ url_for('vendor.vendor_orders') }}"> OpenOrders </a>
          </li>
          <li>
            <a href="{{ url_for('main.notifications') }}"> Notifications </a>
          </li>
        </ul>
        <br />
        {% endif %} {% if user.admin == 1 %}
        <b>Admin</b>
        <ul>
          <li>
            <a
              href="{{ url_for('admin.admin_home', username=current_user.username) }}"
              >Admin home</a
            >
          </li>
          {% if user.admin_role == 10 %}
          <li>
            <a href="{{ url_for('admin.set_account_to_admin') }}"
              >Set Account to Admin</a
            >
          </li>
          <li>
            <a href="{{ url_for('admin.add_achievement') }}">Achievements</a>
          </li>
          <li>
            <a href="{{ url_for('admin.add_update') }}">Add Update</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        <br />
        <b>Status</b>
        <ul>
          <li>
            <a href="{{ url_for('auth.logout') }}"> Log Out </a>
          </li>
        </ul>
        <br />
        <b><div style="color: red">Danger Area</div></b>
        <ul>
          <li>
            <a href="{{ url_for('auth.delete_account') }}"> Delete Account </a>
          </li>
        </ul>
      </div>
      <div class="hidden-xs hidden-sm col-md-1"></div>
      <div class="col-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col-12 text-center">
            <h3>{{ user.username }} - {{ title }}</h3>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
</body>
{% include 'layouts/subindex/_footer.html' %}
