<!DOCTYPE html>
<style>
    html {
        font-size: 13px;
        font-family: 'Open Sans';
    }

    body {
        background-color: #ffffff !important;
        min-height: calc(100vh - 300px);
    }
</style>

<head>
    {% from "_formhelpers.html" import render_field %}
    {% include 'layouts/headers/_metadata.html' %}
    {% include 'layouts/headers/header_main/top_bar.html' %}
    {% include 'layouts/headers/header_main/main_bar.html' %}
    {% include 'layouts/headers/header_main/bottom_bar.html' %}

    {% if current_user.is_authenticated %}
    {% if current_user.vendor_account ==1 %}
    <div class="d-none d-md-block ">
        <div class="d-none d-md-block col-md-12">
            {% include '/layouts/subindex/_vendorbar.html' %}
        </div>
    </div>
    {% else %}
    {% endif %}
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-10">
                {% include 'layouts/sublayout/_achievement_flash.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'layouts/subindex/_footer.html' %}
</body>

</html>