

<div id="item_relevant_listings_shopping">
    <h3>Relevant Listings</h3>
        <div class="owl-carousel">
            {% for item in itemsinrelated %}
                <div id="item_relevant_listings_itemholder">
                <div id="simpleitem_image">
                     <a href="{{ url_for('item.item_for_sale', id=item.id) }}">
                    <img src="{{ url_for('userdata.media_file',

                    filename=( item.string_node_id + item.string_auction_id + item.image_one + "_225x.jpg")) }}">
                    </a>
                </div>
                <div id="simpleitem_title" class="text-center"><b>{{ item.item_title|truncate(20) }}</b></div>
                <div id="simpleitem_pricelocal" class="text-center"><b>
                    {{ item.price }}
                     {{ item.currency|currencyformat }}</b></div>
                <div id="simpleitem_price" class="text-center">
                    {{ item.bch_to_currency(currency=item.currency) }} BTC
                </div>
                    <div id="item_relevant_listings_rating" class="text-center">
                        {%  if item.item_rating == 0 %}
                        <div id="top_title_reviews_Vendor_5" class="text-center">
                                No ratings
                        </div>
                        {%  endif %}

                        {%  if 0.499 >= item.item_rating >= 0.0001  %}

                            <img src="{{ url_for('static', filename='/images/stars/05stars.jpg'  )  }}" >

                        {%  endif %}

                        {%  if 0.999 >= item.item_rating >= 0.5  %}
                             <div id="widthstars">
                            <img src="{{ url_for('static', filename='/images/stars/05stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}

                        {%  if 1.4999 >= item.item_rating >= 1  %}
                            <div id="widthstars" >
                             <img src="{{ url_for('static', filename='/images/stars/10stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}


                        {%  if 1.99999 >= item.item_rating >= 1.5  %}
                           <div id="widthstars" >
                        <img src="{{ url_for('static', filename='/images/stars/15stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}


                        {%  if 2.4999 >= item.item_rating >= 2  %}
                             <div id="widthstars">
                            <img src="{{ url_for('static', filename='/images/stars/20stars.jpg' )}}" >
                            </div>
                        {%  endif %}

                        {%  if 2.99999 >= item.item_rating >= 2.5  %}
                           <div id="widthstars">
                            <img src="{{ url_for('static', filename='/images/stars/25stars.jpg' )}}" >
                            </div>
                        {%  endif %}


                        {%  if 3.499 >= item.item_rating >= 3  %}
                           <div id="widthstars" >
                            <img src="{{ url_for('static', filename='/images/stars/30stars.jpg'  )  }}" >
                             </div>
                        {%  endif %}

                        {%  if 3.99999 >= item.item_rating >= 3.5  %}
                            <div id="widthstars" >
                            <img src="{{ url_for('static', filename='/images/stars/35stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}


                        {%  if 4.499 >= item.item_rating >= 4  %}
                           <div id="widthstars" >
                             <img src="{{ url_for('static', filename='/images/stars/40stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}

                        {%  if 4.99999 >= item.item_rating >= 4.5  %}
                            <div id="widthstars" >
                            <img src="{{ url_for('static', filename='/images/stars/45stars.jpg'  )  }}" >
                            </div>
                        {%  endif %}

                        {%  if item.item_rating == 5  %}
                             <div id="widthstars" >
                            <img src="{{ url_for('static', filename='/images/stars/50stars.jpg'  )  }}">
                            </div>
                        {%  endif %}
                    </div>
            </div>
        {% endfor %}
    </div>
</div>


