{% extends "/layouts/plain.html" %} {% block content %}

<form method="Post">
  {{ form.csrf_token }}

  <div class="row text-center" style="margin-bottom: 25px">
    <div class="col-6">
      {{ render_field(form.lockwallet, class="btn btn-danger", type="submit",
      value="Lock Wallet") }} {{ render_field(form.unlockwallet, class="btn
      btn-success", type="submit", value="Unlock Wallet") }}
    </div>
  </div>
</form>
<div class="row">
  <div class="col-12">
    <h3>{{ user.username }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-12"><b>User ID:</b> {{ user.id }}</div>
</div>
<br />

<div class="row">
  <div class="col-12">
    <b>Member Since: </b> {{ user.member_since }}
    <br />

    <br />
    <b>Country: </b>{{ user.country|countryformat }}
    <br />
    <b>Vendor Account: </b>
    {% if user.vendor_account ==1 %} Yes {% else %} No {% endif %}

    <br />
    <b>Vacation</b>
    {% if user.vacation ==1 %} Yes {% else %} No {% endif %}
  </div>
</div>

<h4>User shard</h4>

<form method="post">
  <div class="row">
    <label class="col-sm-1 control-label">Shard</label>
    <div class="col-sm-4">
      {{ render_field(form.selectshard, class="form-control") }}
    </div>
    <div class="col-sm-7"></div>
  </div>

  <div class="row">
    <label class="col-sm-1 control-label"></label>
    <div class="col-sm-4 text-center">
      {{ render_field(form.selectshardsubmit, class="btn btn-primary") }}
    </div>
    <div class="col-sm-7"></div>
  </div>
</form>

<div class="row" style="margin-top: 20px">
  <div class="col-12">
    <b>Member Since: </b> {{ user.member_since }}
    <br />

    <br />
    <b>User Country: </b>{{ user.country|countryformat }}
    <br />
    <b>Vendor Account: </b>
    {% if user.vendor_account ==1 %} Yes {% else %} No {% endif %}

    <br />
    <b>Vacation</b>
    {% if user.vacation ==1 %} Yes {% else %} No {% endif %}
  </div>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px">
  <div class="col-12">
    <h3>Wallet Info</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <b>Balance: </b> {{ userwallet.currentbalance }}
    <br />
    <b>Unconfirmed: </b> {{ userwallet.currentbalance }}
    <br />
    <b>User Shard: </b> {{ user.shard }}
    <br />
    <b>Wallet Shard: </b> {{ userwallet.shard }}
    <br />
    {% if userwallet.locked == 1 %}
    <b>Wallet Status: </b>
    <div class="redstatus">LOCKED</div>
    {% else %}
    <b>Wallet Status: </b>
    <div class="greenstatus">unlocked</div>
    {% endif %}
  </div>
</div>

{% if transactcount >= 1 %}
<!--#1 = Wallet created -->
<!--#2 = Withdrawl -->
<!--#3 = Deposit -->
<!--#4 = send coin to escrow -->
<!--#5 = send coin to user -->
<!--#6 = clearnet_webapp profit -->
<!--#7 = sent coin to holdings -->
<!--#8 = sent coin from holdings -->

<table
  class="table"
  cellspacing="20"
  cellpadding="20"
  width="100%"
  style="margin-top: 50px"
>
  <tr>
    <th style="background-color: #0d579b; color: #fff; width: 10%">Age</th>
    <th style="background-color: #0d579b; color: #fff; width: 25%">
      Description
    </th>
    <th style="background-color: #0d579b; color: #fff; width: 10%">Coin</th>
    <th style="background-color: #0d579b; color: #fff; width: 10%">Balance</th>
    <!-- set colors-->
  </tr>
  {% for t in transact %} {% if t.category == 0 %}
  <tr>
    {% elif t.category == 1 %}
  </tr>

  <tr class="bg-danger">
    {% elif t.category == 2 %} {% if t.confirmations == 0 %}
  </tr>

  <tr>
    {% else %}
  </tr>

  <tr class="danger">
    {% endif %} {% elif t.category == 3 %} {% if t.confirmations == 0 %}
  </tr>

  <tr>
    {% else %}
  </tr>

  <tr class="bg-success">
    {% endif %} {% elif t.category == 4 %}
  </tr>

  <tr class="bg-warning">
    {% elif t.category == 5 %}
  </tr>

  <tr class="bg-info">
    {% elif t.category == 6 %}
  </tr>

  <tr class="bg-success">
    {% elif t.category == 7 %}
  </tr>

  <tr class="bg-warning">
    {% elif t.category == 8 %}
  </tr>

  <tr class="bg-info">
    {% elif t.category == 9 %}
  </tr>

  <tr class="clearnetorangebackground" style="color: #ffffff">
    {% elif t.category == 10 %}
  </tr>

  <tr class="clearnetorangebackground" style="color: #ffffff">
    {% else %}
  </tr>

  <tr class="bg-info">
    {% endif %}
    <td width="15%">
      <!--First column: Time-->
      {{ moment(timestamp=t.created).fromNow(refresh=True) }}
    </td>

    <td class="linkcolor" width="35%">
      <!--Second column: Description-->
      {% if t.category == 1 %} Wallet Created
      <br />
      {% elif t.category == 2 %} Withdrawl<br />
      {% if t %} {% if t.confirmations >= 7 %}
      <div class="greenstatus">Confirmed</div>
      <br />

      <div style="font-size: 10px">
        Fee: {{ t.fee }}

        <a href="https://blockchain.info/tx/{{ t.txid }}">{{ t.txid }}</a>
      </div>

      {% if t.commentbtc %}
      <br />{{ t.commentbtc }} {% endif %} {% else %} Confirmations: {{
      t.confirmations }}<br />

      <div style="font-size: 10px">
        Fee: {{ t.fee }}

        <a href="https://blockchain.info/tx/{{ t.txid }}">{{ t.txid }}</a>
      </div>

      {% if t.commentbtc %}
      <br />{{ t.commentbtc }} {% endif %} {% endif %} {% endif %}
      <br />

      {% elif t.category == 3 %} Deposit<br />
      {% if t %} {% if t.confirmations >= 6 %}
      <div class="greenstatus">Confirmed</div>
      <br />
      <div style="font-size: 10px">
        <a href="https://blockchain.info/tx/{{ t.txid }}">{{ t.txid }}</a>
      </div>
      {% else %} Confirmations: {{ t.confirmations }}<br />
      <div style="font-size: 10px">
        <a href="https://blockchain.info/tx/{{ t.txid }}">{{ t.txid }}</a>
      </div>
      {% endif %} {% endif %} {% elif t.category == 4 %} {% if t.orderid %}
      Transaction -
      <a href="{{ url_for('vendor.viewOrder', id =t.orderid) }}"
        >Order# {{ t.orderid }}</a
      ><br />
      {% endif %} {% elif t.category == 5 %} {% if t.orderid %} Transaction -
      <a href="{{ url_for('vendor.viewOrder', id =t.orderid) }}"
        >Order# {{ t.orderid }}</a
      ><br />
      {% endif %} {% elif t.category == 6 %} {% if t.orderid %} Profit -
      <a href="{{ url_for('vendor.viewOrder', id =t.orderid) }}"
        >Order# {{ t.orderid }}</a
      ><br />
      {% endif %} {% elif t.category == 7 %} {% if t.commentbtc %} {{
      t.commentbtc }}<br />
      {% endif %} {% elif t.category == 8 %} {% if t.commentbtc %} {{
      t.commentbtc }}<br />
      {% endif %} {% elif t.category == 9 %} {% if t.commentbtc %} {{
      t.commentbtc }}<br />
      {% endif %} {% elif t.category == 10 %} {% if t.commentbtc %} {{
      t.commentbtc }}<br />
      {% endif %} {% if t.orderid %} {{ t.commentbtc }}<br /><br />
      {% endif %} {% else %} {% endif %}
    </td>
    <td width="15%">
      <!--Third column: Amount traded-->
      {% if t.category == 1 %} -- {% elif t.category == 3 %} {% if 0 <= t.amount
      > 0.0001 %} {{ t.amount }} BTC {% else %} {{
      t.amount|otherformatbtctostring }} BTC {% endif %} {% elif t.category == 4
      %} {% if 0 <= t.amount > 0.0001 %} -{{ t.amount }} BTC {% else %} -{{
      t.amount|otherformatbtctostring }} BTC {% endif %} {% elif t.category == 5
      %} {% if 0 <= t.amount > 0.0001 %} {{ t.amount }} BTC {% else %} {{
      t.amount|otherformatbtctostring }} BTC {% endif %} {% else %} {% if 0 <=
      t.amount > 0.0001 %} {{ t.amount }} BTC {% else %} {{
      t.amount|otherformatbtctostring }} BTC {% endif %} {% endif %}
    </td>
    <td width="15%">
      <!--Fourth  column: User balance-->
      {% if t.category == 1 %} {% elif t.category == 3 %} {% if t.confirmed == 0
      %} -- {% else %} -- {% endif %} {% elif t.category == 4 %} {% if 0 <=
      t.balance >= 0.0001 %} {{ t.balance }} BTC {% else %} {{
      t.balance|otherformatbtctostring }} BTC {% endif %} {% elif t.category ==
      5 %} {% if 0 <= t.balance >= 0.0001 %} {{ t.balance }} BTC {% else %} {{
      t.balance|otherformatbtctostring }} BTC {% endif %} {% else %} {% if 0 <=
      t.balance >= 0.0001 %} {{ t.balance }} BTC {% else %} {{
      t.balance|otherformatbtctostring }} BTC {% endif %} {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<div class="row text-center">
  <div class="col-sm-3"></div>
  <div class="col-12 col-sm-6">{{ pagination.info }}</div>
  <div class="col-sm-3"></div>
</div>

<div class="d-flex justify-content-center linkcolor">
  {{ pagination.links }}
</div>

{% else %} You have no recent transactions {% endif %} {% endblock %}
