{% extends "/layouts/plain.html" %}
{% block content %}

    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <h3>Advertise on Clearnet Market</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12" style="margin-top: 100px;margin-bottom: 100px;">
            <h5>Are you interested in advertising on Clearnet Market.
                We meet custom solutions to your needs.  If you want to
            promote your item, we will be implementing that shortly.</h5><br>

        </div>
    </div>
    <div class="row">
                <div class="col-6 col-xs-offset-3 text-center">
            <blockquote><h3>Bitcoin Cash was invented for the poor ..</h3></blockquote>
                </div>
    </div>

    <div class="row"  style="margin-bottom: 100px;">
        <div class="col-12 text-left">
            <hr>
            <h3>Paid Advertisements</h3>
            <p>If you want to have a paid advertisement with a specific location on Clearnet Market,
                we can accomodate most needs.  We do not do images larger than 300x300.  Any illegal
                sites or possible scams will not be considered.</p>
        </div>

    </div>
    <div class="row"  style="margin-bottom: 100px;">
        <div class="col-12 text-left">
            <hr>
            <h3>Trade Advertisements</h3>
                <p>Bitcoin is about peer to peer trading, and we support ad-to-ad advertising.  Send a
                link of your site and we can work out a trade agreement for cross site advertising.</p>
        </div>
    </div>

    <div class="row"  style="margin-bottom: 100px;">
        <div class="col-12 text-left">
            <hr>
            <h3>Helping Small Entrepeneurs</h3>
              <p>Are you a small business, or created a website that can change the world?
              Starting off can be tough but Clearnet Market is here to help.  Send us a link if your site/business,
              and a reason why we should support your idea. </p>
        </div>
    </div>

    <div class="row"  style="margin-bottom: 100px;">
        <div class="col-12 text-left">
            <hr>
            <h3>Contact</h3>
              <p>Not Working? Contact anekdotin@protonmail.com</p>
        </div>
    </div>

{% endblock %}