{% extends "/layouts/plain.html" %}
{% block content %}


    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>

        </ol>
    </nav>

	<div class="row">
	<div class="col-12">
        <h3>Heres some rules to follow on Clearnet Market</h3><br><br>
        <strong>General</strong>
        <ul>
            <li>Scammer's will not be tolerated</li>
            <li>Lieing to moderators/falsifying information</li>
            <li>Harassment through the messaging system as determined and interpreted by our mods.</li>
            <li>Spamming messages with ads.</li>
        </ul>


        <strong>Vendor</strong>
        <ul>
            <li>Creating and posting duplicate listings</li>
            <li>Selling fraudulent items</li>
            <li>Selling stolen items</li>
            <li>Trying to skirt the Clearnet Market process of sales/returns/and disputes</li>
            <li>Selling items considered illegal in a first world country.  Lets use Britain's rules.  They strict.  </li>

        </ul>

        <h3>Things that are ok</h3><br><br>
        <strong>General</strong>
        <ul>
            <li>Trading offsite.  Its a free market! Please note though, we cannot protect you through scams, deceit, or other
            things that this market helps negate.</li>

        </ul>


        <br>
        More to come ..
    </div>
    </div>

{% endblock %}