{% extends "/layouts/plain.html" %}
{% block content %}

    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
        </ol>
    </nav>

	<div class="row">
	<div class="col-12">
	        <h3>Calling all white, grey hat hackers</h3>
	        <p>Have you found a bug and are able to reveal user or wallet data?  Are you smarter than us at Clearnet Market?  We would like
	            to here about what you found, and pay you for your information.</p>

	        <p>If we can verify the bug, and you give us:</p>
	        <ul>
	            <li>An appropriate amount of time to fix it</li>
	            <li>A detailed enough description to reproduce it</li>
	            <li>An agreement not to publish, sell, advocate, or announce any information which may hurt Clearnet Market</li>
	        </ul>

	        <p>We will work with you for restitution for your service, and a spotlight as a thank you on our site.

	        </p>


	        <hr>

	            <h5>Current contributors to digital currency freedom:</h5>
	        <ul>
	            <li>No one yet ..</li>

	        </ul>
		</div>
	</div>

	<div class="row" style="margin-top: 100px;">
		<div class="col-12">
			<h4>Contact Anekdotin</h4>
			<div class="col-12" style="position:relative; min-height:250px;white-space: pre-line; ">
				<address>
								-----BEGIN PGP PUBLIC KEY BLOCK-----

					mQENBFicns0BCACxgWv62dVSmgs7KFK5JuKZ0Q/JxKefdcPsEQjQmjogE2L0XaVu
					oO167K0yb8EpTVDIj67TeeLCCf1eMHmEw0UbUMFkwSCNsX9HO6gVfKGFopb5Ufsv
					Lu4RsMK8TzaposrvLC3XxXiqarJ/fUvPGd/3RKHITSizwxR2kDKcxpnTjAhZUl7c
					bMnDmdkdyjiGuqU7Vp5udr03H4crf8/IMwiTeZ25kp0jbCVN/SV1vwxpFPk784NR
					Zdu4H58P/d3P+EzpBHdBBbsPWuXvGPMYcHpuR5xYu6zyvs6me/LAE7ZAuBCn6wLd
					7X2R1fM3grbk3Bxn1EQ1pR+cXlL/0GyKfvVVABEBAAG0JkVkd2luIEVhbWVzIDxl
					ZHdpbi5lYW1lczIxNEBnbWFpbC5jb20+iQE3BBMBCAAhBQJYnJ7NAhsDBQsJCAcC
					BhUICQoLAgQWAgMBAh4BAheAAAoJECsNfV3M6GTqWF8H/2mKPuMi+pTicUaK4ndk
					2qXJjhnh0YwOVrNOH5TCEEL/rkKgkZscxNmMbWSPkhbq4/znH2P30egA7QtqLm8w
					mGqYmatYuyOjjhCi5r0e/AkDxXqBLjkDpR1kse2ckpjHQtgkSDIGSOwY+nfjxQhT
					wJ4nMC+wqnnImRWcbK1k8q6p9D8/QopUet8UE5DKMjENbYBt5PFHR5uw2C1Dnm1+
					VjfH4Qj4Dwa9hZhAAJ/wx1k7iTw93RvzzNQnEdo6pCBw+FSqQ9FsMNNNMYx6kaez
					6t/QzNDaxLmjc9cprGOAke2B9OUhn3rC21Z6KW0pn4RpDOw+DrQ+8IZAuoaOLD+U
					hK25AQ0EWJyezQEIAOJiDvuvt2YbFJMjEQ8CxwKcMyu892jSk6XSv3FRUL0g/9A6
					kPf+37tqDi0EAtMKcEoYWeQjdd7v5RUHCV4pXzfPYzMPTgW/Mq6RFcR8jypOfJeh
					yOB0OqqQP+OSe+wsJ75YVG40FTIFc1XVXvQWqdowWLMgBMsmX2CJeWYUNiV9dNCs
					dAUGMz4oE+ic5t2eVoF00iNaiMzOf6MQBFD4fCDK4ZfnjxEJSYYVI3qgaZDp6XZl
					dtXJOEGK7PzKCUrxU863oRw7XXAHtlcyiji+W+yk8RepYBlOCQH+KWdfgvegGCpT
					6m7L97JZAIsPNtLgefNRMXrNEqCUfNQXnWy1X3kAEQEAAYkBHwQYAQgACQUCWJye
					zQIbDAAKCRArDX1dzOhk6s3BB/4wG0GaMRARZYR0aRtoFM4LEc1sKFH7GQmeG1zT
					e2zkVNFnehqHjJ6DXcmJdaCR007agMkfloUwVVMpbEn69PfQhy6H8RJqNa91Cfm6
					9Q6nPWnFC5L/QrTyZDGVEchRck0yfjmcm0oamgC/pU5sfCXaJfCey0+S/GxoANuj
					UxxDt82Hpwya7UzmQUYxrF2dhkPHkSy8qOl+jfwrsUpFPOmd8Ucz6uQkLDp3on4M
					kqi2KvdAqdG1WOJdCbr3sH4fhVnepeiouULCPnmWjQXknZHh+2vGOKRtcBHEmpnA
					+xEkrO1GG4yON9iSnP+pS7uqXfHNfwAWUFJFgVYY8NS8LNUT
					=yHDZ
					-----END PGP PUBLIC KEY BLOCK-----
				</address>
			</div>
		</div>
	</div>


{% endblock %}