{% from "_formhelpers.html" import render_field %} {% include
'layouts/headers/_headerplain.html' %}
<body>
  <div class="container clearnetcontainer">
    <nav aria-label="breadcrumb" class="linkcolor">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('wallet.walletHome') }}">Wallets</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('wallet_btccash.wallet_btccash_overview') }}"
            >BCH Wallet</a
          >
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-12 col-md-2 d-none d-md-block">
        {% include '/profile/profiles/prototype.html' %}
      </div>

      <div class="col-12 col-md-9 offset-md-1 offset-lg-1">
        <div class="text-center">
          <img
            src="{{ url_for('static', filename='/images/currency_logos/btccash_long.png'  )  }}"
            width="400px"
            height="70px"
          />
        </div>
        <div class="row blue border btnwhite">
          <div class="col-12 col-sm-7">
            <div class="topnav" id="myTopnav">
              <a href="{{ url_for('wallet_btccash.wallet_btccash_overview') }}"
                >Wallet Overview</a
              >
              <a href="{{ url_for('wallet_btccash.wallet_btccash_send') }}"
                >Send</a
              >
              <a href="{{ url_for('wallet_btccash.wallet_btc_cash_receive') }}"
                >Receive</a
              >
            </div>
          </div>
          <div
            class="col-12 col-sm-5 text-left"
            style="padding: 10px; font-size: 14px"
          >
            {% if wallet.currentbalance == 0 %} BCH Balance: 0.00 {% else %} BCH
            Balance: {{ wallet.currentbalance|otherformatbtctostring }} {% endif
            %} {% if wallet.unconfirmed >= 0.0000001 %}
            <div class="btcorangeinline">
              <br />Unconfirmed: {{ wallet.unconfirmed }}
            </div>
            {% else %} {% endif %}
            <br />
            {{
            wallet.currentbalance|btccashtocurrency(currency=current_user.currency)
            }} {{ current_user.currency|currencyformat }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {% include 'layouts/sublayout/_flashbar.html' %}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h2>{{ title }}</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
</body>

{% include 'layouts/subindex/_footer.html' %}
