

<div class="row bg-white border mb-3 p-1">
    <div class="col-12 text-left">
        <h5>Details</h5>
        <hr>
    </div>

    <table class="table table-condensed col-12">

        {% if item.details_1 or item.details_2 %}
        <tr>
            {% if item.details_1 %}
            <td>{{ item.details_1 }}:</td>
            <td>{{ item.details_1_answer }}</td>
            {% endif %}

            {% if item.details_2 %}
            <td>{{ item.details_2 }}:</td>
            <td>{{ item.details_2_answer }}</td>
            {% endif %}
        </tr>
    {% endif %}

        {% if item.details_3 or item.details_4 %}
        <tr>
            {% if item.details_3 %}
            <td>{{ item.details_3 }}:</td>
            <td>{{ item.details_3_answer }}</td>
            {% endif %}
            {% if item.details_4 %}
            <td>{{ item.details_4 }}:</td>
            <td>{{ item.details_4_answer }}</td>
            {% endif %}
        </tr>
    {% endif %}

        {% if item.details_5 %}
        <tr>
            {% if item.details_5 %}
            <td>{{ item.details_5 }}:</td>
            <td>{{ item.details_5_answer }}</td>
            {% endif %}

        </tr>
        {% endif %}

    </table>
</div>