<!--shipping-->
<div class="row bg-white border mb-3 p-2">
    <div class="col-12 text-left">
        <h5>Shipping Info</h5>
        <hr>
    </div>

    <table class="table col-12 border" >
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>From</th>
            <th>To</th>
        </tr>

        {% if item.shipping_free == 1 %}
            <tr>
                <td>{{ item.shipping_info_0 }}</td>
                <td><div class="btcorange">FREE</div></td>
                <td>{{ item.shipping_day_least_0 }} days</td>
                <td>{{ item.shipping_day_most_0 }} days</td>
            </tr>
        {% endif %}

        {% if item.shipping_two == 1 %}
            <tr>
                <td>{{ item.shipping_info_2 }}:</td>
                <td>
                    {{ item.shipping_price_2 }}{{ item.currency|currencyformat }}
                    {% if current_user.is_authenticated %}
                        {% if item.currency != current_user.currency %}

                            ({{ item.shipping_price_3|currencytocurrency(currency = current_user.currency, currentusercurrency = item.currency) }}
                            {{ current_user.currency|currencyformat }})

                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ item.shipping_day_least_2 }} days</td>
                <td>{{ item.shipping_day_most_2 }} days</td>
            </tr>
        {% endif %}

        {% if item.shipping_three == 1 %}
            <tr>
                <td>{{ item.shipping_info_3 }}:</td>
                <td>{{ item.shipping_price_3 }}{{ item.currency|currencyformat }}

                    {% if current_user.is_authenticated %}
                        {% if item.currency != current_user.currency %}

                            ({{ item.shipping_price_3|currencytocurrency(currency = current_user.currency, currentusercurrency = item.currency) }}
                            {{ current_user.currency|currencyformat }})

                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ item.shipping_day_least_3 }} days</td>
                <td>{{ item.shipping_day_most_3 }} days</td>
            </tr>
        {% endif %}
    </table>
</div>
<!--END shipping-->

<!--Not shipping-->
    {% if item.not_shipping_1 != 0
        or  item.not_shipping_2 != 0
        or item.not_shipping_3 != 0
        or item.not_shipping_4 != 0
        or item.not_shipping_5 != 0
        or item.not_shipping_6 != 0 %}



        <div class="row bg-white border mb-3 p-2">
            <div class="col-12 text-left">
                <h5>Not Shipping Locations</h5>
                <hr>
            </div>
                <div class="col-12 mb-1">
                    <p class="font-weight-bold">The Vendor is not shipping to the follow locations and reserves the right
                        to cancel the order: </p>
                    {% if item.not_shipping_1 == 0 %}
                    {% else %}
                        {{ item.not_shipping_1|notshippingformat }}<br>
                    {% endif %}

                    {% if item.not_shipping_2 == 0 %}
                    {% else %}
                        {{ item.not_shipping_2|notshippingformat  }}<br>
                    {% endif %}

                    {% if item.not_shipping_3 == 0 %}
                    {% else %}
                        {{ item.not_shipping_3|notshippingformat  }}<br>
                    {% endif %}

                    {% if item.not_shipping_4 == 0 %}
                    {% else %}
                        {{ item.not_shipping_4|notshippingformat  }}<br>
                    {% endif %}

                    {% if item.not_shipping_5 == 0 %}
                    {% else %}
                        {{ item.not_shipping_5|notshippingformat  }}<br>
                    {% endif %}

                    {% if item.not_shipping_6 == 0 %}
                    {% else %}
                        {{ item.not_shipping_6|notshippingformat  }}<br>
                    {% endif %}
                </div>
        </div>

    {% else %}
    {% endif %}
<!--END Not shipping-->