

<!--Top Title -->
<div class="row"><!--Main Row -->
    <div class="col-12">
        <ol class="linkcolor">
            {% if item.category_id_0 != 0%}
                {% if item.category_name_0 != '0' %}
                    <nav aria-label="breadcrumb" class="linkcolor">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                            <li class="breadcrumb-item"> <a href="{{ url_for('category.view_category',maincatid=item.category_id_0) }}" >
                                {{ item.category_name_0 }}
                            </a></li>
                        </ol>
                    </nav>
                {% else %}
                {% endif %}
            {% else %}
            {% endif %}
        </ol>
    </div>
</div>

<div class="row">


    <!--FIRST ROW -->
    <div class="col-12 col-md-5 img-responsive ">
        {% include 'item/itemparts/_topimages.html' %}
    </div>


    <!--SECOND ROW -->
    <div class="col-md-5"><!--Info Column size 8 -->
        <div class="row"><!-- Top Column row -->
            <div class="col-12">
                <h4> {{ item.item_title|truncate(250) }}</h4>
                <hr>
            </div>
            <div class="col-2">
                {% if preview == 0 %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin_role >=1 %}
                            <form method="post">
                                {% if finditem.flagged_user_id_1 == current_user.id %}
                                    <div class="redstatus"> Item Flagged</div>
                                {% elif finditem.flagged_user_id_2 == current_user.id %}
                                    <div class="redstatus">Item Flagged</div>
                                {% elif finditem.flagged_user_id_3 == current_user.id %}
                                    <div class="redstatus">Item Flagged</div>
                                {% elif finditem.flagged_user_id_4 == current_user.id %}
                                    <div class="redstatus">Item Flagged</div>
                                {% elif finditem.flagged_user_id_5 == current_user.id %}
                                    <div class="redstatus">Item Flagged</div>
                                {% else %}
                                    {{ flag.csrf_token }}
                                    {{ render_field(flag.flagit, value="Flag Item", class="btn btn-danger") }}
                                {% endif %}
                            </form>
                        {% else %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if current_user.admin == 1 %}
                    <form method="post">
                        {{ flag.csrf_token }}
                        {{ render_field(flag.banit, value="Delete Item", class="btn btn-danger") }}
                    </form>
                {% endif %}
            </div>
        </div><!--END Column row -->
        <div class="row"><!-- Column row -->
            <div class="col-6"><!--Column row -->
                {%  if item.item_rating == 0 %}
                    {% if vendorfeedbackcount > 0 %}
                        Vendor Rating: {{ vendorstats.vendorrating }} <img src="{{ url_for('static', filename='/images/stars/1s.png'  )  }}" width="15px" height="15px">
                    {% else %}
                        <div id="top_title_reviews_Vendor_none">
                            No Item Ratings Yet
                        </div>
                    {% endif %}
                {%  endif %}
                {%  if 0.4999 >= item.item_rating >= 0.00001  %}
                    <div id="top_title_reviews_Vendor_0">
                        <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}" >
                    </div>
                {%  endif %}

                {%  if 0.999 >= item.item_rating >= 0.5  %}
                    <div id="top_title_reviews_Vendor_0">
                        <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}" >
                    </div>
                {%  endif %}

                {%  if 1.499 >= item.item_rating >= 1  %}
                    <div id="top_title_reviews_Vendor_1">
                        <img src="{{ url_for('static', filename='/images/stars/10stars.png'  )  }}" >
                    </div>
                {%  endif %}

                {%  if 1.99999 >= item.item_rating >= 1.5  %}
                    <div id="top_title_reviews_Vendor_1">
                        <img src="{{ url_for('static', filename='/images/stars/15stars.png'  )  }}" >
                    </div>
                {%  endif %}

                {%  if 2.4999 >= item.item_rating >= 2  %}
                    <div id="top_title_reviews_Vendor_2">
                        <img src="{{ url_for('static', filename='/images/stars/20stars.png')}}">
                    </div>
                {%  endif %}

                {%  if 2.99999 >= item.item_rating >= 2.5  %}
                    <div id="top_title_reviews_Vendor_2">
                        <img src="{{ url_for('static', filename='/images/stars/25stars.png')}}" >
                    </div>
                {%  endif %}

                {%  if 3.499 >= item.item_rating >= 3  %}
                    <div id="top_title_reviews_Vendor_3">
                        <img src="{{ url_for('static', filename='/images/stars/30stars.png'  )  }}">
                    </div>
                {%  endif %}

                {%  if 3.99999 >= item.item_rating >= 3.5  %}
                    <div id="top_title_reviews_Vendor_3">
                        <img src="{{ url_for('static', filename='/images/stars/35stars.png'  )  }}">
                    </div>
                {%  endif %}

                {%  if 4.499 >= item.item_rating >= 4  %}
                    <div id="top_title_reviews_Vendor_4">
                        <img src="{{ url_for('static', filename='/images/stars/40stars.png'  )  }}" >
                    </div>
                {%  endif %}

                {%  if 4.99999 >= item.item_rating >= 4.5  %}
                    <div id="top_title_reviews_Vendor_4">
                        <img src="{{ url_for('static', filename='/images/stars/45stars.png'  )  }}">
                    </div>
                {%  endif %}

                {%  if item.item_rating == 5  %}
                    <div id="top_title_reviews_Vendor_5">
                        <img src="{{ url_for('static', filename='/images/stars/50stars.png'  )  }}">
                    </div>
                {%  endif %}
                {%  if item.item_rating == 0 %}
                    <div id="top_title_reviews_Vendor_count"> </div>
                {% else %}
                    <div id="top_title_reviews_Vendor_count">
                        {{ item.review_count }} total reviews
                    </div>
                {% endif %}
            </div>
            <div class="col-6 justify-content-center">
                Item number: {{ item.id }}
            </div><!-- END Column row -->
        </div><!--End Top title -->


        <div class="row"><!--Info Row-->
            <div class="col-12 bg-white border"><!--Pricing and buttons Box-->
                <div class="col-7" style="padding: 20px;">
                    <b>Price</b>
                    {{ item.price }} {{ item.currency|currencyformat }}
                    <br>
                    {% if current_user.is_authenticated %}
                        {% if item.currency != current_user.currency %}
                            {{ item.price|currencytocurrency(currency = current_user.currency,
                                 currentusercurrency = item.currency) }}
                            {{ current_user.currency|currencyformat }}
                            <br>
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
                    <br>
                    Pay with Crypto<br>
                    {% if item.digital_currency_2 == 1 %}
                        <div class="btcorange">
                            {{ item.bch_to_currency(currency=item.currency) }}
                        </div>BTC
                        <br>
                    {% endif %}
                    {% if item.digital_currency_3 == 1 %}
                        <div class="btccash">
                            {{ item.price|convert_local_to_bch_filter(currency=item.currency) }}
                        </div> BCH
                    {% endif %}
                </div>

                <div class="col-5 btnwhite" style="padding: 20px;">
                    {% if item.item_count >=1 %}
                        <form method="post">
                            {{ form.csrf_token }}
                            {{ render_field(formcart.addtocart1, value="Add to Cart",
                                class="btn btn-warning") }}
                        </form>
                        <br><br>

                    {% else %}
                        <div class="red">
                            Item is sold out.
                        </div>
                    {% endif %}
                </div>
            </div><!--END Pricing and buttons Box-->
            <div class="col-12"><!--Quanity Box-->
                {% if item.item_count >=1 %}
                    <b>Quantity:</b> {{ item.item_count }}
                {% else %}
                    <div class="red">
                        Item is sold out
                    </div>
                {% endif %}
            </div><!-- END Quanity Box-->
            <div class="col-12"><!--Condition Box-->
                {%  if item.item_condition == 1 %}
                    <b>Condition:</b>  New
                {%  elif item.item_condition == 2 %}
                    <b>Condition:</b>  Manufacturer Refurbished
                {%  elif item.item_condition == 3 %}
                    <b>Condition:</b>  Seller Refurbished
                {%  elif item.item_condition == 4 %}
                    <b>Condition:</b>  Used
                {%  elif item.item_condition == 5 %}
                    <b>Condition:</b>  For Parts
                {%  else %}
                    <b>Condition:</b>  Not Specified
                {%  endif %}
            </div><!--END Condition Box-->

            {% if item.vendor_id != 1 %}
                <div class="col-12"><!--Returns Box-->
                    {% if item.return_allowed == 1 %}
                        <b>Returns:</b>
                        <div class="greenstatus">
                            Returns are allowed on this item
                        </div>
                    {% else %}
                        <b>Returns:</b>
                        <div class="redstatus">
                            Returns are NOT allowed on this item
                        </div>
                    {% endif %}
                </div><!--END Item Points Box-->
            {% endif %}

            <!--Shipping-->
            <div class="col-md-12">
                <!--If its not a Clearnet Market item-->
                {% if item.vendor_id != 1 %}
                    <b>Ships From:</b>
                    {{ item.origin_country|countryformat }}<br>
                    {% if item.destination_country_one == 1
                                     or item.destination_country_two == 1
                                      or item.destination_country_three == 1
                                     or item.destination_country_four == 1
                                      or item.destination_country_five == 1 %}
                        <b>Ships to: </b> WORLDWIDE SHIPPING<br>
                    {% else %}
                        <br>
                        <b>Ships to:</b>
                        {{ item.destination_country_one|countryformat }}
                        {% if item.destination_country_two != 0 %}
                            ,
                            {{ item.destination_country_two|countryformat }}
                        {% endif %}
                        {% if item.destination_country_three != 0 %}
                            ,
                            {{ item.destination_country_three|countryformat }}
                        {% endif %}
                        {% if item.destination_country_four != 0 %}
                            ,
                            {{ item.destination_country_four|countryformat }}
                        {% endif %}
                        {% if item.destination_country_five != 0 %}
                            ,
                            {{ item.destination_country_five|countryformat }}
                        {% endif %}

                    {% endif %}

                    <div class="col-md-12"><!--Ship pricing table -->
                        <table class="table" >
                            <tr>
                                <th style="font-size: 12px;">Options</th>
                                <th style="font-size: 12px;">Price</th>
                            </tr>
                            {% if item.shipping_free == 1 %}
                                <tr>
                                    <td style="font-size: 10px;">{{ item.shipping_info_0 }}</td>
                                    <td style="font-size: 10px;"><div class="btcorange">FREE</div> </td>
                                </tr>
                            {% endif %}
                            {% if item.shipping_two == 1 %}
                                <tr>
                                    <td style="font-size: 10px;">{{ item.shipping_info_2 }}</td>
                                    <td style="font-size: 10px;">{{ item.shipping_price_2 }} {{item.currency|currencyformat}}

                                        {% if current_user.is_authenticated %}
                                            {% if item.currency != current_user.currency %}

                                                {{ item.shipping_price_2|currencytocurrency(currency = current_user.currency,
                                                     currentusercurrency = item.currency) }}
                                                {{ current_user.currency|currencyformat }}

                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if item.shipping_three == 1 %}
                                <tr>
                                    <td style="font-size: 10px;">{{ item.shipping_info_3 }}</td>
                                    <td style="font-size: 10px;">{{ item.shipping_price_3 }} {{item.currency|currencyformat}}

                                        {% if current_user.is_authenticated %}
                                            {% if item.currency != current_user.currency %}
                                                {{ item.shipping_price_3|currencytocurrency(currency = current_user.currency,
                                                     currentusercurrency = item.currency) }}
                                                {{ current_user.currency|currencyformat }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                {% else %}
                    <hr>
                    <!-- Its a Clearnet Market item -->
                    <div class="text-center" style="font-size: 16px"><b>Shipping</b></div>
                    <b>Shipping:</b> Shipped via Amazon Prime as a gift.
                    <br>
                    <b>Destination:</b> USA Only
                    <br>
                    <b>Returns:</b> 30 Day return to Amazon.
                    <br>
                    <div class="linkcolororange text-center">
                    <a href="{{ url_for('customerservice.customerservice_returnitem') }}" >View the Return Policy</a>
                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Third ROW -->
    <div class="col-12 col-md-2">     <!-- Vendor Profile -->
        {% include '/profile/profiles/_vendorprofile_nobadge.html' %}
    </div>  <!--END Vendor Profile -->
</div>