<script>


    $('.showImg').hover(function(){
    $(".showImg").removeClass("active");
    $(this).addClass("active");

    var imgURL = $(this).find('img').attr("src");
    $('#imgHolder').find('img').attr("src", imgURL);
});​</script>




<div class="col-12 text-center">

{% if item.imageone != '0' %}
<img id="large-image-id" src="{{ url_for('userdata.media_file',
 filename=( item.stringnodeid +item.stringauctionid + item.imageone + "_225x.jpg"))  }}"
    alt="large image">
{% else %}
 <img src="{{ url_for('static', filename=('images/no-product-image.png')) }}" width="250px" height="250px">
{% endif %}
<br>
{% if item.imageone != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file', filename=( item.stringnodeid +item.stringauctionid + item.imageone))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Mars"
   alt="thumb image">
{% endif %}


{% if item.imagetwo != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.stringnodeid +item.stringauctionid + item.imagetwo))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Mars"
   alt="thumb image">
{% endif %}

{% if item.imagethree != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.stringnodeid +item.stringauctionid + item.imagethree))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Winter Castle"
   alt="thumb image">
{% endif %}
{% if item.imagefour != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.stringnodeid +item.stringauctionid + item.imagefour))  }}"
   style="width:106px; height:80px;margin-top: 10px;"
   title="Waterpaint"
   alt="thumb image">
{% endif %}
{% if item.imagefive != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file', filename=( item.stringnodeid +item.stringauctionid + item.imagefive))  }}"
   style="width:106px; height:80px;margin-top: 10px;"
   title="Blue Midnight"
   alt="thumb image">
{% endif %}

</div>