<script>
    $('.showImg').hover(function(){
        $(".showImg").removeClass("active");
        $(this).addClass("active");
        var imgURL = $(this).find('img').attr("src");
        $('#imgHolder').find('img').attr("src", imgURL);
    });​
</script>

<div class="row">
    <div class="col-12" style="min-height:300px; min-width: 300px;">
        {% if item.image_one != '0' %}

            <img id="large-image-id" src="{{ url_for('userdata.media_file',
             filename=( item.string_node_id + item.string_auction_id + item.image_one + "_225x.jpg"))  }}"
                 alt="large image" class="itempage_image_full">

        {% else %}
            <img src="{{ url_for('static', filename=('images/no-product-image.png')) }}" class="searchresultimage">
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if item.image_two == '0' and item.image_three == '0' and item.image_four == '0' and item.image_five == '0' %}

        {% else %}
            {% if item.image_one != '0' %}
                <img
                        onclick="document.getElementById('large-image-id').src=this.src"
                        onmouseover="document.getElementById('large-image-id').src=this.src"
                        src="{{ url_for('userdata.media_file',
                 filename=( item.string_node_id + item.string_auction_id + item.image_one + "_225x.jpg"))  }}"
                        style="width:100px; height:80px; margin-top: 10px;"
                        alt="thumb image">
            {% endif %}
        {% endif %}
        {% if item.image_two != '0' %}
            <img
                    onclick="document.getElementById('large-image-id').src=this.src"
                    onmouseover="document.getElementById('large-image-id').src=this.src"
                    src="{{ url_for('userdata.media_file',filename=( item.string_node_id + item.string_auction_id + item.image_two + "_225x.jpg"))  }}"
                    style="width:100px; height:80px; margin-top: 10px;"

                    alt="thumb image">
        {% endif %}
        {% if item.image_three != '0' %}
            <img
                    onclick="document.getElementById('large-image-id').src=this.src"
                    onmouseover="document.getElementById('large-image-id').src=this.src"
                    src="{{ url_for('userdata.media_file',  filename=( item.string_node_id + item.string_auction_id + item.image_three + "_225x.jpg"))  }}"
                    style="width:100px; height:80px; margin-top: 10px;"
                    alt="thumb image">
        {% endif %}


        {% if item.image_four != '0' %}
            <img
                    onclick="document.getElementById('large-image-id').src=this.src"
                    onmouseover="document.getElementById('large-image-id').src=this.src"
                    src="{{ url_for('userdata.media_file', filename=( item.string_node_id + item.string_auction_id + item.image_four + "_225x.jpg"))  }}"
                    style="width:106px; height:80px;margin-top: 10px;"

                    alt="thumb image">
        {% endif %}
        {% if item.image_five != '0' %}
            <img
                    onclick="document.getElementById('large-image-id').src=this.src"
                    onmouseover="document.getElementById('large-image-id').src=this.src"
                    src="{{ url_for('userdata.media_file',filename=( item.string_node_id + item.string_auction_id + item.image_five + "_225x.jpg"))  }}"
                    style="width:106px; height:80px;margin-top: 10px;"

                    alt="thumb image">
        {% endif %}
    </div>
</div>