<script>


    $('.showImg').hover(function(){
    $(".showImg").removeClass("active");
    $(this).addClass("active");

    var imgURL = $(this).find('img').attr("src");
    $('#imgHolder').find('img').attr("src", imgURL);
});​</script>




<div class="col-12 text-center">

{% if item.image_one != '0' %}
<img id="large-image-id" src="{{ url_for('userdata.media_file',
 filename=( item.string_node_id +item.string_auction_id + item.image_one + "_225x.jpg"))  }}"
    alt="large image">
{% else %}
 <img src="{{ url_for('static', filename=('images/no-product-image.png')) }}" width="250px" height="250px">
{% endif %}
<br>
{% if item.image_one != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file', filename=( item.string_node_id +item.string_auction_id + item.image_one))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Mars"
   alt="thumb image">
{% endif %}


{% if item.image_two != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.string_node_id +item.string_auction_id + item.image_two))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Mars"
   alt="thumb image">
{% endif %}

{% if item.image_three != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.string_node_id +item.string_auction_id + item.image_three))  }}"
   style="width:106px; height:80px; margin-top: 10px;"
   title="Winter Castle"
   alt="thumb image">
{% endif %}
{% if item.image_four != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file',filename=( item.string_node_id +item.string_auction_id + item.image_four))  }}"
   style="width:106px; height:80px;margin-top: 10px;"
   title="Waterpaint"
   alt="thumb image">
{% endif %}
{% if item.image_five != '0' %}
<img
   onclick="document.getElementById('large-image-id').src=this.src"
   onmouseover="document.getElementById('large-image-id').src=this.src"
   src="{{ url_for('userdata.media_file', filename=( item.string_node_id +item.string_auction_id + item.image_five))  }}"
   style="width:106px; height:80px;margin-top: 10px;"
   title="Blue Midnight"
   alt="thumb image">
{% endif %}

</div>