<div id="last_seen">

    <div id="last_seen_text"><a href="{{ url_for('main.user',username=user.username) }}">{{ user.username }}</a></div>

    {% if user.id|lastseen  == 1%}
    <div id="last_seen_globe">1</div>


    {% elif user.id|lastseen  == 2%}
    <div id="last_seen_globe">2</div>


    {% elif user.id|lastseen  == 3%}
    <div id="last_seen_globe">3</div>


    {% elif user.id|lastseen  == 4%}
    <div id="last_seen_globe">4</div>


    {% elif user.id|lastseen  == 5%}
    <div id="last_seen_globe">5</div>


    {% elif user.id|lastseen  == 6%}
    <div id="last_seen_globe">6</div>


    {% elif user.id|lastseen  == 7%}
    <div id="last_seen_globe">7</div>


    {% elif user.id|lastseen  == 8%}
    <div id="last_seen_globe">8</div>


    {% elif user.id|lastseen  == 9%}
    <div id="last_seen_globe">9</div>


    {% elif user.id|lastseen  == 10 %}
    <div id="last_seen_globe">10</div>


    {% elif user.id|lastseen  == 11%}
    <div id="last_seen_globe">11</div>

    {% else %}
        <div id="last_seen_globe">{{ user.id|lastseen }}</div>
    {% endif %}

</div>

