
<div class="row" style="max-height: 375px;">
    <div class="col-12">
            <div class="row">
                <div class="col-12 linkcolororange">
                   <h4>Digital Items</h4>
                </div>
            </div>

<hr class="style13" >
<div class="owl-carousel owl-theme">

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>

    <a href="{{ url_for('vendor.vendor_become_vendor') }}">
    <img src="{{ url_for('static', filename=('/images/fillers/adhere.jpg')) }}" width="200px" height="200px"  >
    </a>
</div>
</div>
</div>