<div class="row">
    <div class="col-12">
            <div class="row">
                <div class="col-12 linkcolororange">
                   <h4>Todays Featured</h4>
                </div>
            </div>

<hr class="style13">
<div class="owl-carousel owl-theme" style="width: 100%;">
        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>


        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
       <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>

        <a href="{{ url_for('vendor.vendor_become_vendor') }}">
        <img src="{{ url_for('static', filename=('/images/fillers/digfiller2.jpg')) }}" width="200px" height="200px"  >
        </a>
        </div>
    </div>
</div>