

<div class="col-12 text-center">
    <div class="col-12 font-weight-bold mt-3">Enter Feedback</div>
    <form method="post" class="">
        {{ feedbackform.csrf_token }}
        <input value = "{{ order.id }}" type="hidden" name="my_id">
        <div class="form-group ">
            <div class="row">
                {% if order.type == 3 %}
                {% else %}
                    <div class="col-10  justify-content-center form-check-inline">
                        <label class="col-12 col-sm-3 col-md-6">Item Rating:</label>
                        <label> <input type="radio" name="item_rating" value="1"/>1 </label>
                        <label> <input type="radio" name="item_rating" value="2"/>2 </label>

                        <label> <input type="radio" name="item_rating" value="3"/>3 </label>

                        <label> <input type="radio" name="item_rating" value="4"/>4 </label>

                        <label> <input type="radio" name="item_rating" value="5"/>5 </label>
                    </div>
                {% endif %}
                <div class="col-10 justify-content-center form-check-inline">
                    <label class="col-12 col-sm-3 col-md-6">Vendor Rating:</label>
                    <label>
                        <input type="radio" name="vendorrating" value="1"/>1
                    </label>
                    <label>
                        <input type="radio" name="vendorrating" value="2"/>2
                    </label>
                    <label>
                        <input type="radio" name="vendorrating" value="3"/>3
                    </label>
                    <label>
                        <input type="radio" name="vendorrating" value="4"/>4
                    </label>
                    <label>
                        <input type="radio" name="vendorrating" value="5"/>5
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-12 col-sm-12">
                {{ render_field(feedbackform.feedbacktext, placeholder="Enter your feedback comments",  class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-12 col-sm-12 text-center">
                {{ render_field(feedbackform.submitfeedback, class="btn btn-success", value="Add Feedback") }}

            </div>
        </div>



    </form>

</div>

