
<div class="row mt-4 p-1 border border-dark">
    <div class="col-12 col-sm-4 col-md-3 border-right">
        <img src="{{ comment.author_id|profilepicture|safe }}" width="50px" height="50px;"> <br>
        <div style="font-size: 10px">
        <b>Last Seen:</b> {{ moment(timestamp=comment.timestamp,
                                    local=False).fromNow(refresh=True)  }}

        </div>
        {% if order.modid == comment.author_id %}
            Moderator - {{ comment.author_id|username }}
        {% elif comment.admin == comment.author_id %}
            <div class="btcorangeinline">
                Moderator - {{ comment.author_id|username }}
            </div>
        {% else %}
            <div class="linkcolor">
            <a href="{{ url_for('profile.profile_user', username=comment.author) }}">
                {{ comment.author }}
            </a>
            </div>
        {% endif %}
    </div>
    <div class="col-12 col-sm-8 col-md-9">
        {{ comment.body|safe }}
    </div>
</div>

