

<div class="row" style="margin-bottom: 20px">
    <div class="col-12 col-sm-12 col-md-4"><!-- END Image -->
        <a href="{{ url_for('item.item_for_sale', id=item.id) }}">

            {% if item.image_one != '0' %}
                <img src="{{ url_for('userdata.media_file',
            filename=( item.string_node_id +item.string_auction_id + item.image_one + "_225x.jpg")) }}" class="searchresultimage">
            {% else %}
                <img src="{{ url_for('static', filename=('images/no-product-image.png')) }}" class="imagefrontpage">
            {% endif %}
        </a>
    </div>

    <div class="col-6 col-sm-6 col-md-4 linkcolor"><!--Middle -->

        <a href="{{ url_for('item.item_for_sale', id=item.id) }}">
            <b>   {{ item.item_title |truncate(100) }} </b>
        </a><br>


        Sold by:
        {{ item.vendor_name }}
        ({{ item.vendor_id|avgvendorrating }}
        <img src="{{ url_for('static', filename='/images/stars/1s.png'  )  }}" width="20px" height="20px">)
        <br><br><br>
        {%  if item.item_condition == 1 %}
            New
        {%  elif item.item_condition == 2 %}
            Manufacturer Refurbished
        {%  elif item.item_condition == 3 %}
            Seller Refurbished
        {%  elif item.item_condition == 4 %}
            Used
        {%  elif item.item_condition == 5 %}
            For Parts
        {%  else %}

        {%  endif %}

        <br>
        {{ item.item_count }} Available
        <br>

        {%  if item.total_sold > 1 %}
            {{ item.total_sold }} Sold
            <br>
        {% endif %}


        {%  if item.shipping_free == 1 %}
            <div class="greenstatus"> <b>Free Shipping</b></div>
            <br>
        {% endif %}

    </div><!-- END Middle -->
    <div class="col-6 col-sm-6 col-md-4"><!-- END Right -->

        {%  if item.item_rating == 0 %}
        {%  endif %}

        {%  if 0.499 >= item.item_rating >= 0.001  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 0.999 >= item.item_rating >= 0.5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 1.4999 >= item.item_rating >= 1  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/10stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 1.99999 >= item.item_rating >= 1.5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/15stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 2.4999 >= item.item_rating >= 2  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/20stars.png'  )  }}"><br>
        {%  endif %}

        {%  if 2.99999 >= item.item_rating >= 2.5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/25stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 3.499 >= item.item_rating >= 3  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/30stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if 3.99999 >= item.item_rating >= 3.5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/35stars.png'  )  }}"><br>
        {%  endif %}

        {%  if 4.499 >= item.item_rating >= 4  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/40stars.png'  )  }}"><br>
        {%  endif %}

        {%  if 4.99999 >= item.item_rating >= 4.5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/45stars.png'  )  }}" ><br>
        {%  endif %}

        {%  if item.item_rating == 5  %}({{ item.review_count }})
            <img src="{{ url_for('static', filename='/images/stars/50stars.png'  )  }}"><br>
        {%  endif %}
        <br>
        <b>Buy Price</b><br>
        {% if current_user.is_authenticated %}
            {{ item.price }} {{ item.currency|currencyformat }}<br>
            {% if item.currency != current_user.currency %}
                <div style="font-size: 11px;">
                    {{ item.price|currencytocurrency(currency = current_user.currency, currentusercurrency = item.currency) }}
                    {{ current_user.currency|currencyformat }}</div>
                <br>
            {% endif %}

            {%  if item.digital_currency_2 == 1  %}
                <div class="btcorange">
                    {{ item.price|bch_to_currency(currency=user.currency) }}  BTC
                </div><br>
            {% endif %}
            {%  if item.digital_currency_3 == 1  %}
                <div class="btccash">
                    {{ item.price|bch_to_currency(currency=user.currency) }}  BCH
                </div><br>
            {% endif %}

        {% else %}
            {{ item.price }} {{ item.currency|currencyformat }}<br>
            {%  if item.digital_currency_2 == 1  %}

            {% endif %}
            {%  if item.digital_currency_3 == 1  %}
                <div class="btccash">
                    BCH Accepted
                </div><br>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('item.item_for_sale', id=item.id) }}">
            <button type="button" class="btn btn-warning">View Item</button>
        </a><br>

    </div>
</div>
