{% extends 'wallet/wallet_btccash_test/wallet_layout.html' %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}

    {% if wallet.locked == 1 %}
        <p class="bg-danger text-center">
            Your wallet is currently locked.  Withdrawls are temporarily disabled till dispute is finished.
        </p>
    {% else %}

        <form method="post" class="form-horizontal">
            {{ form.csrf_token }}

            <div class="form-group">
                <label class="col-sm-2">Send to:</label>
                <div class="col-sm-8">
                    {{ render_field(form.sendto, placeholder="BCH Address", class="form-control input-sm marginRow" ) }}
                    <br>
                    Example: bitcoincash:qzhnkqyuejfchzhwppqxfgcfupsehmtg2c7866ndsu
                </div>
            </div>


            <div id="form_error">
                <div class="form-group row-bottom-margin">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8">
                <span class="error">
                {% if form.sendto.errors %}
                    {% for error in form.sendto.errors %}
                        Address Error: {{ error }}
                    {% endfor %}
                {% endif %}

                </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">Description</label>
                <div class="col-sm-8">
                    {{ render_field(form.description, placeholder="Optional", username="eddwinn", class="form-control input-sm marginRow") }}
                </div>
            </div>

            <div id="form_error">
                <div class="form-group row-bottom-margin">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8">
                <span class="error">
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        Description Error: {{ error }}
                    {% endfor %}
                {% endif %}

                </span>
                    </div>
                </div>
            </div>


            <div class="form-group row-bottom-margin">
                <label class="col-sm-2">Amount</label>
                <div class="col-sm-3">
                    {{ render_field(form.amount, placeholder="Amount in BCH",class="form-control input-sm marginRow" ) }}
                </div>
            </div>
            <div id="form_error">
                <div class="form-group row-bottom-margin">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8">
                    <span class="error">
                    {% if form.amount.errors %}
                        {% for error in form.amount.errors %}

                            Amount Error: {{ error }}
                        {% endfor %}
                    {% endif %}

                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2">Wallet Pin</label>
                <div class="col-sm-2">
                    {{ render_field(form.pin, placeholder="4 digit pin",class="form-control input-sm marginRow" ) }}
                </div>
            </div>
            <div id="form_error">
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-8">
                    <span class="error">
                    {% if form.pin.errors %}
                        {% for error in form.pin.errors %}
                            Wallet Pin: {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div id="form-group">
                    <label class="col-sm-2">Captcha </label>
                    <div class="col-sm-6">
                        <img src="{{ url_for('static', filename='/recaptcha/' + randompicture)  }}" width="236px" height="48px">
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>

            </div>
            <div class="row" style="height: 20px;">

                <div class="col-sm-12">
                </div>
            </div>

            <div class="row">
                <div id="form-group ">
                    <label class="col-sm-2">Captcha Answer:</label>
                    <div class="col-sm-3">
                        {{ render_field(form.recaptchaanswer, class="form-control  input-sm", placeholder='Answer') }}
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="form-group">
                    <label class="col-sm-2">Estimated Fee 6 blocks:</label>
                    <div class="col-sm-10">
                        <b>{{ wfee }} BTC</b>
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                </div>
            </div>
            {% if wallet.currentbalance == 0 %}
                <br>
                <h4>Add some coin first to withdraw...</h4>
            {% else %}
                <div class="form-group row-bottom-margin">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="text-center">
                            {{ render_field(form.submit, value="Send Coin", class="btn btn-warning") }}
                        </div>
                    </div>
                </div>
            {% endif %}



        </form>


    {% endif %}
{% endblock %}