{% from "_formhelpers.html" import render_field %} {% include
'layouts/headers/_headerplain.html' %}

<div class="container clearnetcontainer">
  <ol class="breadcrumb linkcolor">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('wallet_bch.home') }}">Wallets</a></li>
    <li>
      <a href="{{ url_for('wallet_btccash_test.wallet_btccash_overview') }}"
        >BCH Test Wallet</a
      >
    </li>
  </ol>

  <div class="row">
    <div class="col-12 col-md-2 d-none d-md-block">
      {% include '/profile/profiles/prototype.html' %}
    </div>

    <div class="col-12 col-md-9 offset-md-1 offset-lg-1">
      <div class="text-center">BTC Cash Test Wallet</div>
      <div class="row blue border btnwhite">
        <div class="col-12 col-sm-7">
          <div class="topnav" id="myTopnav">
            <a
              href="{{ url_for('wallet_btccash_test.wallet_btccash_overview') }}"
              >Wallet Overview</a
            >
            <a href="{{ url_for('wallet_btccash_test.wallet_btccash_send') }}"
              >Send</a
            >
            <a
              href="{{ url_for('wallet_btccash_test.wallet_btc_cash_receive') }}"
              >Receive</a
            >
          </div>
        </div>
        <div
          class="col-12 col-sm-5 text-left"
          style="padding: 10px; font-size: 14px"
        >
          {% if wallet.currentbalance == 0 %} BCH Test Balance: 0.00 {% else %}
          BCH Test Balance: {{ wallet.currentbalance|otherformatbtctostring }}
          {% endif %} {% if wallet.unconfirmed >= 0.0000001 %}
          <div class="btcorangeinline">
            <br />Unconfirmed: {{ wallet.unconfirmed }}
          </div>
          {% else %} {% endif %}
          <br />
          {{
          wallet.currentbalance|btccashtocurrency(currency=current_user.currency)
          }} {{ current_user.currency|currencyformat }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {% include 'layouts/sublayout/_flashbar.html' %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>{{ title }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">{% block content %} {% endblock %}</div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->

{% include 'layouts/subindex/_footer.html' %}
