{% from "_formhelpers.html" import render_field %} {% include
'layouts/headers/_headerplain.html' %}
<body>
  <div class="container clearnetcontainer">
    <nav aria-label="breadcrumb" class="linkcolor">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('wallet_bch.home') }}">Wallets</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('wallet_btc_test.wallet_btc_overview') }}"
            >BTC Test Wallet</a
          >
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-12 col-md-2 d-none d-md-block">
        {% include '/profile/profiles/prototype.html' %}
      </div>

      <div class="col-12 col-md-9 offset-md-1 offset-lg-1">
        <div class="text-center">
          <h4>BTC Test Wallet</h4>
        </div>
        <div class="row blue border btnwhite">
          <div class="col-12 col-sm-7">
            <div class="topnav" id="myTopnav">
              <a href="{{ url_for('wallet_btc_test.wallet_btc_overview') }}"
                >Wallet Overview</a
              >
              <a href="{{ url_for('wallet_btc_test.wallet_btc_Send') }}"
                >Send</a
              >
              <a href="{{ url_for('wallet_btc_test.wallet_btc_Receive') }}"
                >Receive</a
              >
            </div>
          </div>
          <div
            class="col-12 col-sm-5 text-left"
            style="padding: 10px; font-size: 14px"
          >
            {% if wallet.currentbalance == 0 %} BTC Test Balance: 0.00BTC {%
            else %} BTC Test Balance: {{
            wallet.currentbalance|otherformatbtctostring }}BTC {% endif %} {% if
            wallet.unconfirmed >= 0.0000001 %}
            <div class="btcorangeinline">
              <br />Unconfirmed: {{ wallet.unconfirmed }} BTC
            </div>
            {% else %} {% endif %}
            <br />
            {{
            wallet.currentbalance|btctocurrency(currency=current_user.currency)
            }} {{ current_user.currency|currencyformat }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {% include 'layouts/sublayout/_flashbar.html' %}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2>{{ title }}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Footer -->

{% include 'layouts/subindex/_footer.html' %}
