
{% include 'layouts/headers/_metadata.html' %}


<!--Visible only md large xl-->
<!--hidden-sm-down (hidden-sm hidden-xs)-->
<div class="d-none d-md-block">

{% include 'layouts/headers/headersizes/_header_large.html' %}

</div>


<!--Visible only sm xs-->
<div class="d-md-none">

{% include 'layouts/headers/headersizes/_header_small.html' %}
{% include 'layouts/headers/_small_menu_bar.html' %}
</div>

{% if current_user.is_authenticated %}
    {% if current_user.vendor_account ==1 %}
        <div class="d-none d-md-block ">
            <div class="d-none d-md-block col-md-12">
                {% include '/layouts/subindex/_vendorbar.html' %}
            </div>
        </div>

    {% else %}
    {% endif %}
{% endif %}


<div class="mb-3"></div>