<!DOCTYPE html>
<head>
  <title>Clearnet Market - A Bitcoin Marketplace</title>

  <meta
    name="description"
    content="A bitcoin marketplace where you can buy or sell your stuff.
     Buy and sell bitcoins with the safety of escrow. "
  />

  <meta
    name="keyword"
    content="clearnet, clearnet market, bitcoin,
     market, trade,escrow,
      buy, sell, buy bitcoins,
       sell bitcoins, trade bitcoins, cash,
        price bitcoin, monero, lbc,
         ethereum, bitcoin wallet, wallet, electrum"
  />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ moment.include_moment() }}
   {% include 'layouts/stylesheets.html' %}
</head>
