<div class="row  linkcolor" style="margin-bottom: 10px;margin-top: 10px">
    <div class="col-12">
        <h5>Categories</h5>
        <hr>
        <span class="fa fa-wheelchair icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=1) }}">Antiques</a>
        <hr style="margin-top:0;">
        <span class="fa fa-paint-brush icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=2) }}">Arts+crafts</a>
        <hr style="margin-top:0;">
        <span class="fa fa-heart-o icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=4) }}">Baby</a>
        <hr style="margin-top:0;">
        <span class="fa fa-heartbeat icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=5) }}">Beauty health</a>
        <hr style="margin-top:0;">
        <span class="fa fa-mobile icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=8) }}">Cellphones accessories</a>
        <hr style="margin-top:0;">
        <span class="fa fa-briefcase icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=9) }}">Clothes shoes accessories</a>
        <hr style="margin-top:0;">
        <span class="fa fa-laptop icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=12) }}">Computers parts periphiels</a>
        <hr style="margin-top:0;">
        <span class="fa fa-television icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=13) }}">Electronics</a>
        <hr style="margin-top:0;">
        <span class="fa fa-home icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=16) }}">Household</a>
        <hr style="margin-top:0;">
        <span class="fa fa-diamond icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=17) }}">Jewelry</a>
        <hr style="margin-top:0;">
        <span class="fa fa-book icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=6) }}">Books cds movies</a>
        <hr style="margin-top:0;">
        <span class="fa fa-archive icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=22) }}">Collectibles</a>
        <hr style="margin-top:0;">
        <span class="fa fa-gamepad icon"></span>
        <a  href="{{ url_for('category.viewcategory', maincatid=25) }}">Videogames toys games</a>
        <hr style="margin-top:0;">

    </div>
</div>
