
{% include 'layouts/owlstuff/owlstuff.html' %}

<div class="row">
    <div class="col-12 text-left">
        <h4>Relevant Listings</h4>
    </div>
</div>

<div class="owl-carousel owl-theme col-12" style="margin-bottom: 25px;">
    {% for item in itemsinrelated %}
        <div class="row">

            <div class="col-12" style="height:275px;">
                <a href="{{ url_for('item.Itemforsale', id=item.id) }}">
                    <img src="{{ url_for('userdata.media_file',
                        filename=('item/' + item.stringnodeid + item.stringauctionid + item.imageone + "_225x.jpg")) }}"
                         class="relevantlisting">
                </a>
            </div>

            <div class="col-12 text-center" style="height: 50px; overflow: hidden; font-size: 12px;">
                {{ item.itemtitlee| truncate(75) }}
            </div>

            <div class="col-12 text-center">
                <b>
                    {{ item.price|safe }}
                    {{ item.currency|currencyformat|safe }}
                </b>
            </div>

            {% if current_user.is_authenticated %}
                {% if item.currency != current_user.currency %}
                    <div class="col-12 text-center">
                        {{ item.price|currencytocurrency(currency = current_user.currency,
                                                                    currentusercurrency = item.currency) }}
                        {{ current_user.currency|currencyformat }}
                    </div>
                {% endif %}
            {% endif %}

            {% if item.digital_currency2 == 1 %}
                <div class=" btcorange col-12 text-center">
                    {{ item.price|btcprice(currency=item.currency) }} BTC
                </div>
            {% endif %}

            {% if item.digital_currency3 == 1 %}
                <div class="btccash col-12 text-center">
                    {{ item.price|btcprice_btccash(currency=item.currency) }} BCH
                </div>
            {% endif %}


            <div class="col-12 text-center">
                {%  if item.itemrating == 0 %}
                    <div id="related_Vendor_0" class="text-center">
                    </div>
                {%  endif %}
                {%  if 0.499 >= item.itemrating >= 0.0001  %}
                    <div id="related_Vendor_0">
                        <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}">
                    </div>
                {%  endif %}
                {%  if 0.999 >= item.itemrating >= 0.5  %}
                    <div id="related_Vendor_0">
                        <img src="{{ url_for('static', filename='/images/stars/05stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 1.4999 >= item.itemrating >= 1  %}
                    <div id="related_Vendor_1">
                        <img src="{{ url_for('static', filename='/images/stars/10stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 1.99999 >= item.itemrating >= 1.5  %}
                    <div id="related_Vendor_1">
                        <img src="{{ url_for('static', filename='/images/stars/15stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 2.4999 >= item.itemrating >= 2  %}
                    <div id="related_Vendor_2">
                        <img src="{{ url_for('static', filename='/images/stars/20stars.png' )}}" >
                    </div>
                {%  endif %}
                {%  if 2.99999 >= item.itemrating >= 2.5  %}
                    <div id="related_Vendor_2">
                        <img src="{{ url_for('static', filename='/images/stars/25stars.png' )}}" >
                    </div>
                {%  endif %}
                {%  if 3.499 >= item.itemrating >= 3  %}
                    <div id="related_Vendor_3">
                        <img src="{{ url_for('static', filename='/images/stars/30stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 3.99999 >= item.itemrating >= 3.5  %}
                    <div id="related_Vendor_3">
                        <img src="{{ url_for('static', filename='/images/stars/35stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 4.499 >= item.itemrating >= 4  %}
                    <div id="related_Vendor_4">
                        <img src="{{ url_for('static', filename='/images/stars/40stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if 4.99999 >= item.itemrating >= 4.5  %}
                    <div id="related_Vendor_4">
                        <img src="{{ url_for('static', filename='/images/stars/45stars.png'  )  }}" >
                    </div>
                {%  endif %}
                {%  if item.itemrating == 5  %}
                    <div id="related_Vendor_5">
                        <img src="{{ url_for('static', filename='/images/stars/50stars.png'  )  }}">
                    </div>
                {%  endif %}
            </div>
        </div>
    {% endfor %}
</div>





{% include '/layouts/owlstuff/owlstuffregular.html' %}