

<div class="col-12">
    <div class="col-12" style="">
        <a href="{{ url_for('item.item_for_sale',id=item.id) }}">
            <img src="{{ url_for('userdata.media_file',
                                filename=( item.string_node_id +item.string_auction_id + item.image_one + "_225x.jpg")) }}">
        </a>
    </div>

    <div class="col-12 text-center" style="height: 50px; overflow: hidden; font-size: 12px;">
        {{ item.item_title| truncate(40) }}
    </div>

    <div class="col-12 ">
        <b>
            {{ item.price|safe }}
            {{ item.currency|currencyformat|safe }}

        </b>
    </div>
    {% if current_user.is_authenticated %}
        {% if item.currency != current_user.currency %}
            <div class="col-12 text-center">

                {{ item.price|currencytocurrency(currency = current_user.currency,
                currentusercurrency = item.currency) }}

                {{ current_user.currency|currencyformat }}

            </div>
        {% endif %}

    {% endif %}

    <div class="col-12">
        {% if item.digital_currency_2 == 1 %}



        {% endif %}
        {% if item.digital_currency_3 == 1 %}
            <div class="btccash">
              BCH Accepted
            </div>
            <br>
        {% endif %}
    </div>
</div>