{% extends "/layouts/plain.html" %}
{% block content %}



    <ol class="breadcrumb linkcolor">
        <li><a href="{{ url_for('index') }}">Home</a></li>
    </ol>

    <!--  Electronics-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=2) }}"> <h5>Electronics</h5></a>
            <hr>
        </div>

    </div>

    <!--  Clothing, Shoes & Jewelry-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=3) }}"> <h5>Clothing, Shoes & Jewelry</h5></a>
            <hr>
        </div>

    </div>

        <!--  Home & Kitchen-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=4) }}"> <h5>Home & Kitchen</h5></a>
            <hr>
        </div>

    </div>

    <!--  Health & Household-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=5) }}"> <h5>Health & Household</h5></a>
            <hr>
        </div>

    </div>

    <!-- Tools & Home Improvement -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=6) }}"> <h5>Tools & Home Improvement</h5></a>
            <hr>
        </div>


    </div>


    <!-- Arts, Crafts & Sewing -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=7) }}"> <h5>Arts, Crafts & Sewing</h5></a>

            <hr>
        </div>

    </div>


    <!-- Patio, Lawn & Garden -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=8) }}">  <h5>Patio, Lawn & Garden</h5></a>
            <hr>
        </div>

    </div>

    <!-- Small Appliance Parts & Accessories -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=9) }}"><h5>Small Appliance Parts & Accessories</h5></a>
            <hr>
        </div>

    </div>



    <!-- Kitchen & Dining -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=10) }}"><h5>Kitchen & Dining</h5></a>
            <hr>
        </div>

    </div>


    <!--Appliances-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=11) }}"> <h5>Appliances</h5></a>
            <hr>
        </div>

    </div>

    <!--  Office Products -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=12) }}"><h5>Office Products</h5></a>
            <hr>
        </div>

    </div>

    <!--  Office Electronics-->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=13) }}"> <h5>Office Electronics</h5></a>
            <hr>
        </div>

    </div>

        <!-- Sports & Outdoors -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=14) }}"> <h5>Sports & Outdoors</h5></a>
            <hr>
        </div>

    </div>

    <!--  Musical Instruments -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=15) }}"> <h5>Musical Instruments</h5></a>
            <hr>
        </div>

    </div>


    <!-- Beauty & Personal Care -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=17) }}"><h5>Beauty & Personal Care</h5></a>
            <hr>
        </div>

    </div>




    <!-- Baby Products -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=18) }}"> <h5>Baby Products</h5></a>
            <hr>
        </div>

    </div>

    <!-- Cell Phones & Accessories -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=19) }}"><h5>Cell Phones & Accessories</h5></a>
            <hr>
        </div>

    </div>

    <!-- Industrial & Scientific -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=20) }}"> <h5>Industrial & Scientific</h5></a>
            <hr>
        </div>

    </div>

    <!-- Pet Supplies -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=21) }}"> <h5>Pet Supplies</h5></a>
            <hr>
        </div>


    </div>


    <!-- Home & Business Services -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=22) }}">  <h5>Home & Business Services</h5></a>
            <hr>
        </div>

    </div>


    <!-- Grocery & Gourmet Food -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=23) }}"> <h5>Grocery & Gourmet Food</h5></a>
            <hr>
        </div>

    </div>


    <!-- Collectibles & Fine Art -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=24) }}">  <h5>Collectibles & Fine Art</h5></a>
            <hr>
        </div>

    </div>

    <!-- Software -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=25) }}"><h5>Software</h5></a>
            <hr>
        </div>

    </div>

    <!-- Video Shorts -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=26) }}"><h5>Video Shorts</h5></a>
            <hr>
        </div>

    </div>


    <!-- Apps & Games -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=27) }}"><h5>Apps & Games</h5></a>
            <hr>
        </div>

    </div>


    <!-- Toys & Games -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=28) }}"><h5>Toys & Games</h5></a>
            <hr>
        </div>

    </div>


    <!-- Video Games -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=29) }}"> <h5>Video Games</h5></a>
            <hr>
        </div>

    </div>

    <!-- Car & Vehicle Electronics -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=30) }}"> <h5>Car & Vehicle Electronics</h5></a>
            <hr>
        </div>

    </div>

    <!-- Automotive -->
    <div class="row linkcolor" style="margin-bottom: 50px;">
        <div class="col-12 text-left">
            <a href="{{ url_for('category.viewmaincat', categoryid=31) }}"> <h5>Automotive</h5></a>
            <hr>
        </div>

    </div>


{% endblock %}