{% extends "/layouts/plain.html" %}
{% block content %}


    <nav aria-label="breadcrumb" class="linkcolor">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>

        </ol>
    </nav>
    <div class="row">

        <div class="col-12">
            <h2>Welcome to Clearnet Market</h2>

            <p>Clearnet Market was built with privacy, security, and protecting users to trade and sell items/currency.<br><br>
                If you would like to read the
                privacy policy, you can view it <div class="linkcolor"><a  href="{{ url_for('main.privacy') }}">Here</a></div><br>
            <p>These terms and conditions outline the rules and regulations for the use of Clearnet Market's Website.</p> <br />

            <p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Clearnet Market's website
                if you do not accept all of the terms and conditions stated on this page.</p>
            <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
                and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
                and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers
                to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
                or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
                the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
                of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
                of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
                of . Any use of the above terminology or other words in the singular, plural,
                capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p><h2>Cookies</h2>
            <p>We employ the use of cookies. By using Clearnet Market's website you consent to the use of cookies
                in accordance with Clearnet Market’s privacy policy.</p><p>Most of the modern day interactive web sites
            use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
            to enable the functionality of this area and ease of use for those people visiting. Some of our
            affiliate / advertising partners may also use cookies.</p><h2>License</h2>
            <p>Unless otherwise stated, Clearnet Market and/or it’s licensors own the intellectual property rights for
                all material on Clearnet Market. All intellectual property rights are reserved. You may view and/or print
                pages from http://www.Clearnet Market.com for your own personal use subject to restrictions set in these terms and conditions.</p>
            <p>You must not:</p>
            <ol>
                <li>Republish material from http://www.Clearnet Market.com</li>
                <li>Sell, rent or sub-license material from http://www.Clearnet Market.net</li>
                <li>Reproduce, duplicate or copy material from http://www.Clearnet Market.net</li>
            </ol>
            <p>Redistribute content from Clearnet Market (unless content is specifically made for redistribution).</p>
            <h2>User Comments</h2>
            <ol>
                <li>This Agreement shall begin on the date hereof.</li>
                <li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
                    material and data ('Comments') in areas of the website. Clearnet Market does not screen, edit, publish
                    or review Comments prior to their appearance on the website and Comments do not reflect the views or
                    opinions of Clearnet Market, its agents or affiliates. Comments reflect the view and opinion of the
                    person who posts such view or opinion. To the extent permitted by applicable laws Clearnet Market shall
                    not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
                    and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
                    website.</li>
                <li>Clearnet Market reserves the right to monitor all Comments and to remove any Comments which it considers
                    in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.</li>
                <li>You warrant and represent that:
                    <ol>
                        <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to
                            do so;</li>
                        <li>The Comments do not infringe any intellectual property right, including without limitation copyright,
                            patent or trademark, or other proprietary right of any third party;</li>
                        <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
                            or material which is an invasion of privacy</li>
                        <li>The Comments will not be used to solicit or promote business or custom or present commercial activities
                            or unlawful activity.</li>
                    </ol>
                </li>
                <li>You hereby grant to <strong>Clearnet Market</strong> a non-exclusive royalty-free license to use, reproduce,
                    edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
                    or media.</li>
            </ol>
            <h2>Hyperlinking to our Content</h2>
            <ol>
                <li>The following organizations may link to our Web site without prior written approval:
                    <ol>
                        <li>Government agencies;</li>
                        <li>Search engines;</li>
                        <li>News organizations;</li>
                        <li>Online directory distributors when they list us in the directory may link to our Web site in the same
                            manner as they hyperlink to the Web sites of other listed businesses; and</li>
                        <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                            and charity fundraising groups which may not hyperlink to our Web site.</li>
                    </ol>
                </li>
            </ol>
            <ol start="2">
                <li>These organizations may link to our home page, to publications or to other Web site information so long
                    as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
                    approval of the linking party and its products or services; and (c) fits within the context of the linking
                    party's site.
                </li>
                <li>We may consider and approve in our sole discretion other link requests from the following types of organizations:
                    <ol>
                        <li>commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                            Automobile Association, AARP and Consumers Union;</li>
                        <li>dot.com community sites;</li>
                        <li>associations or other groups representing charities, including charity giving sites,</li>
                        <li>online directory distributors;</li>
                        <li>internet portals;</li>
                        <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
                        <li>educational institutions and trade associations.</li>
                    </ol>
                </li>
            </ol>
            <p>We will approve link requests from these organizations if we determine that: (a) the link would not reflect
                unfavorably on us or our accredited businesses (for example, trade associations or other organizations
                representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
                to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
                the visibility associated with the hyperlink outweighs the absence of <?=$companyName?>; and (d) where the
                link is in the context of general resource information or is otherwise consistent with editorial content
                in a newsletter or similar product furthering the mission of the organization.</p>

            <p>These organizations may link to our home page, to publications or to other Web site information so long as
                the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
                of the linking party and it products or services; and (c) fits within the context of the linking party's
                site.</p>

            <p>If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
                you must notify us by sending an e-mail to <a href="mailto:eddwinn@gmail.com" title="send an email to eddwinn@gmail.com">eddwinn@gmail.com</a>.
                Please include your name, your organization name, contact information (such as a phone number and/or e-mail
                address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
                and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</p>

            <p>Approved organizations may hyperlink to our Web site as follows:</p>

            <ol>
                <li>By use of our corporate name; or</li>
                <li>By use of the uniform resource locator (Web address) being linked to; or</li>
                <li>By use of any other description of our Web site or material being linked to that makes sense within the
                    context and format of content on the linking party's site.</li>
            </ol>
            <p>No use of Clearnet Market’s logo or other artwork will be allowed for linking absent a trademark license
                agreement.</p>
            <h2>Iframes</h2>
            <p>Without prior approval and express written permission, you may not create frames around our Web pages or
                use other techniques that alter in any way the visual presentation or appearance of our Web site.</p>
            <h2>Reservation of Rights</h2>
            <p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
                link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
                reserve the right to amend these terms and conditions and its linking policy at any time. By continuing
                to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>
            <h2>Removal of links from our website</h2>
            <p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
                us about this. We will consider requests to remove links but will have no obligation to do so or to respond
                directly to you.</p>
            <p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
                or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
                website is kept up to date.</p>
            <h2>Content Liability</h2>
            <p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
                and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
                page on your Web site or within any context containing content or materials that may be interpreted as
                libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
                other violation of, any third party rights.</p>
            <h2>Disclaimer</h2>
            <p>To the maximum extent permitted by applicable law,
                we exclude all representations, warranties and conditions relating to
                our website and the use of this website (including,
                without limitation, any warranties implied by law in
                respect of satisfactory quality, fitness for purpose and/or
                the use of reasonable care and skill). Nothing in this disclaimer will:</p>
            <ol>
                <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
                <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
            </ol>
            <p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
                are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
                in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
                (including negligence) and for breach of statutory duty.</p>
            <p>To the extent that the website and the information and services on the website are provided free of charge,
                we will not be liable for any loss or damage of any nature.</p>


            <br><br>
            <h4>Prohibited use, items, and termination </h4>
            <p>
                You may not use Clearnet Market to engage, reference or contribute to illegal activities
                as deemed illegal by the country which Clearnet Market operates in.
                By opening an account, you agree to not contribute, participate in, sell, buy,  or engage in the following:
            <ul>
                <li>
                    <b>Illegal Items:</b>
                    Any physical or digital item deemed illegal in Clearnet Market's operating country
                    in strictly prohibited
                    on this website.  Use of currency contributing to these can lead to suspension of
                    account or termination of account.
                </li>
                <li>
                    <b>Fraud:</b>
                    Items, trades, or activity on Clearnet Market that is determined to be fraud by Clearnet Market employees
                    will lead to account termination.  </li>
                <li>
                    <b>Copyrighted Material: Use of copyrighted information for sale, distribution on Clearnet Market will
                        result in the item being deleted.  This can lead to investigation of user account,
                        or termination of user account. </b>
                </li>
                <li>
                    <b>Stolen Items:</b>
                    Any item that is suspected of being stolen wil lead to termination of user account.
                </li>
                <li>
                    <b>Prohibited Businesses:</b>
                    Any business that is deemed to border on illegal or misleading is barred from operation
                    on Clearnet Market.  You Agree to not contribute, purchase, sell, trade or participate in these items.
                    Prohibited business include, but are not limited too:
                    Financial schemes,
                    money laundering,
                    pyramid/marketing services,
                    fake or counterfeit goods,
                    illegal drugs,
                    Pharmaceutical drugs,
                    drug manufacturing,
                    substances designed to mimic drugs.
                </li>
                <li>
                    <b>Products/items/services regulated by governing areas:</b>
                    Tobacco products,
                    guns/firearms/ammo explosives,
                    radioactive materials,
                    pharmaceutical related items or activities,
                    petroleum products/gasoline/diesel,
                    or any other item deemed regulated by government specific regulations in Clearnet Market's country.
                </li>
            </ul>







            <br><br>

            <h4>Hosted Wallet  </h4>
            <p>By using Clearnet Market, you agree to the terms and conditions below </p>

            <ul>
                <li>
                    <b>Creation of Wallet:</b>
                    Upon creation of an account, you are given a wallet.
                    Creation of a wallet can have delays and may not be immediately avaliable.
                    Funds are not available till they are transferred
                    and verified by our wallet service.
                </li>
                <li>
                    <b>Transaction Fees:</b>
                    Transaction fees are determined by Clearnet Market. Fees only apply when sending digital currency off of Clearnet Market.
                    We set the fee accordingly to the amount being transferred.  BY creation of an account, you agree to the fees
                    Clearnet Market sets.

                </li>
                <li>
                    <b>Delays and transmission:</b>
                    Clearnet Market is not responsible for the length of time occurred by wallet services.
                    Escrow and wallet transactions are accomplished in the order they were initiated, and vary in time of completion.
                    Delays in processing of coin off Clearnet Market, and withing Clearnet Market are not the responsibility of Clearnet Market.

                </li>
                <li>
                    <b>Escrow:</b>
                    Escrow is allowed to hold your money in an Clearnet Market account till an agreement of
                    trade, service, dispute, investigation, purchase, sale
                    is deemed accomplished.  We reserve the right to delay escrow until any issues are resolved.
                    Once coin has entered escrow,
                    it is under the guardianship of Clearnet Market.
                    Escrow can be terminated by agreement of the prospective partner or Clearnet Market in trade, sale, or exchange.
                </li>
                <li>
                    <b>Termination or suspension of wallet:</b>
                    Suspension of account will result in wallet being suspended and funds to not be available.  We reserve the right
                    to hold your funds till the issue is resolved.  The reason for investigation will be emailed
                    to your provided email address.  Termination of account for violation of terms and services will
                    result in forfeiture of balance on the account. We reserve the right to terminate an account at any time that we
                    believe terms and services have been violated.
                </li>
                <li>
                    <b>Value of Currency:</b>
                    Value of currency is not determined by Clearnet Market and we are not responsible for loss of value of coins in the users
                    wallet.  Loss of value from Clearnet Market wallet services, including escrow, is not the responsibility of Clearnet Market.
                </li>
            </ul>

            <br><br>
            <h4>Purchasing items</h4>
            <p>Clearnet Market is not responsible for the following items concerning the purchasing of items within this site:</p>
            <ul>
                <li>
                    <b>Item purchase:</b>
                    Once "checkout" has been completed, you agree to the terms and service that the vendor listed at the time of purchase.
                    Items that are listed as "used" "manufacturer refurbished" "as-is" are represented as-is.
                    The price of the object, shipping, and other associated fees will be deducted from your account.

                </li>
                <li>
                    <b>Item Quality:</b>
                    Clearnet Market accepts no responsibility for the quality of the item that is advertised.
                    Broken, damaged,or any variation of quality from interpreted post is not the fault of Clearnet Market.
                    False and misleading claims
                    will be investigated and result in account suspension or termination deemed appropriate by Clearnet Market.
                </li>
                <li>
                    <b>Item warranty:</b>
                    Clearnet Market is not associated with any warranty of an item bought or sold on this site.  The vendor specifies,
                    handles, or claims "as-is" with the purchase of goods.  THe vendor reserves the right if specified in the ad
                    to not honor the warranty of the item.
                </li>
                <li>
                    <b>Injury by item:</b>
                    We shall have no responsibility or liability of injury, death, or harm caused by an item bought on Clearnet Market.
                </li>
                <li>
                    <b>Item shipping:</b>
                    The length of time, method, cost, shipping disruptions, and delays are not the responsibility of Clearnet Market.
                    Item shipping costs are displayed before an item is bought and cannot be changed after the initial sale
                    of the item.  By purchasing an item, you agree to pay these costs, and agree to the length of shipping estimate
                    by the vendor.  If items do not meet shipping estimates, then a return within 30 days of initial purchase date is allowed
                    for a full refund.
                </li>

            </ul>

            <br><br>
            <h4>Digital Trades</h4>
            <p>Clearnet Market supports the use of escrow to handle digital trades.  The following rules and regulations must be adhered or
                result in suspension, account termination, or other disciplinary action deemed appropriate by Clearnet Market. You agree to
                the following conditions when conducting a trade: </p>
            <ul>
                <li>
                    <b>Escrow:</b>
                    By initiating a digital trade, you agree to place your money into escrow.  We are not responsible for loss of value,
                    delays, processing times, business opportunities, or special circumstances occurred during transactions.

                </li>

                <li>
                    <b>Time and deadlines:</b>
                    Each digital trade comes with a pre-determined length of time till auto-cancel, auto-refund, or termination of
                    the trade agreement.  It is the users responsibility to meet these times when trading.  If a trade time is missed,
                    but the item being traded has been given to the opposite trading party, then a dispute may occur.  The user must have
                    proof of trade to the vendor, or the vendor must have proof of trade to the item.  If a screenshot, receipt, or
                    proof of transaction cannot be given, then money is refunded back to the appropriate party as deemed by Clearnet Market.
                </li>

                <li>
                    <b>Cancellations:</b>
                    The user or vendor reserves the right to cancel when he allotted too.  If a trade is cancelled, then the escrow
                    is returned back to the appropriate party.
                </li>

                <li>
                    <b>Digital Item Fraud:</b>
                    Any items suspected of digital item fraud will be removed by Clearnet Market.  If further postings occur, account suspension,
                    termination, or other disciplinary action deemed appropriate by Clearnet Market will we enforced.  If an item is deemed as fraud
                    during a dispute, the escrow will be given back to the respective party.
                </li>

                <li>
                    <b>Copyrighted Items:</b>
                    If a copyright claim has been initiated against your digital item, we reserve the right
                    to suspend or delete your posting from Clearnet Market.  Copyrighted items sold, bought, exchanged, advertised, etc
                    on Clearnet Market are not the property of
                    Clearnet Market.  Clearnet Market is not responsible for copyrighted materials posted on this site
                    , but will enforce the suspension, termination, of user account who violated respective copyright claims.
                </li>

                <li>
                    <b>Terms and services of Digital Property:</b>
                    Digital items terms and services fall into there property owners.  You must adhere to the owner of the intellectual,
                    digital, etc property of the item you are exchanging.  Clearnet Market is not responsible for trading, selling, buying, posting,
                    advertising digital property of other parties.
                </li>
            </ul>


            <br><br>
            <h4>Currency Trades </h4>
            <p>Clearnet Market supports the use of escrow to handle currency trades.  The following rules and regulations must be adhered or
                result in suspension, account termination, or other disciplinary action deemed appropriate by Clearnet Market. You agree to
                the following conditions when conducting a currency trade: </p>
            <ul>
                <li>
                    <b>Item purchase:</b>
                    Once "checkout" has been completed, you agree to the terms and service that the vendor listed at the time of purchase.
                    Items that are listed as "used" "manufacturer refurbished" "as-is" are represented as-is.
                    The price of the object, shipping, and other associated fees will be deducted from your account.

                </li>

                <li>
                    <b>Time and deadlines:</b>
                    Each digital trade comes with a pre-determined length of time till auto-cancel, auto-refund, or termination of
                    the trade agreement.  It is the users responsibility to meet these times when trading.  If a trade time is missed,
                    but the item being traded has been given to the opposite trading party, then a dispute may occur.  The user must have
                    proof of trade to the vendor, or the vendor must have proof of trade to the item.  If a screenshot, receipt, or
                    proof of transaction cannot be given, then money is refunded back to the appropriate party as deemed by Clearnet Market.
                </li>

                <li>
                    <b>Cancellations:</b>
                    The user or vendor reserves the right to cancel when he allotted too.  If a trade is cancelled, then the escrow
                    is returned back to the appropriate party.
                </li>

                <li>
                    <b>Fraud:</b>
                    Any trades suspected of fraud will be removed/cancelled by Clearnet Market.  If further postings occur, account suspension,
                    termination, or other disciplinary action deemed appropriate by Clearnet Market will we enforced.  If an item is deemed as fraud
                    during a dispute, the escrow will be given back to the respective party.
                </li>

            </ul>




            <br><br>
            <h4>Disputes  </h4>
            <p>Clearnet Market staff/employees reserves the right to settle disputes.  <br><br>

                Factors included for decision making include the chat of the trade, the buyer/seller responsiveness,
                feedback, proof of receipts,screenshots,  and general overview of the situation are factored into the dispute.
                <br><br>

                Clearnet Market reserves the right to dictate who receives the balance, and how much percentage of the balance that the user recieves.
                After a dispute or trade has been finalized, the trade is over and no further action be taken against a users balance.  </p>



            <br><br>
            <h4>Account termination suspensions and punishment</h4>
            <p>Clearnet Market reserves the right at any time if it is believed the terms and services are broken to
                suspend, terminate, or apply other action to your account. An email with the explanation will be sent to the usewrs account</p>

            <h4>Returns </h4>
            <p>Returns are not allowed on digital trades unless the vendor agrees without Clearnet Market affiliation.<br><br>

                Returns on BTC currency are strictly prohibited.  Once a trade is final, the transaction is over.<br><br>

                Returns on physical items are at the discretion of the vendor.  If the vendor has labeled an item as returnable,
                then once a purchaser has been initiated, the buyer has within 30 days to return the item.  After 30 days, escrow
                is released and the purchase is considered final.<br><br>

                If the item is not received nearing the 30 day mark, the buyer or vendor may extend the time by disputing the purchase, or returning the
                item.

                Once a dispute is initiated, the escrow is only released by Clearnet Market staff.  If a return has been initiated, then the item must be returned when it is recieved

            </p>
            <ul>
                <li>
                    2 days -  The vendor has to provide a return address if default return address not provided <br>
                    5 days - Customer has to mark order as shipped back to vendor<br>
                    14 days - Shipping has to be completed by customer within 14 days after marked as sent.<br>
                    24 days - Buyer has to mark received within of initial return claim the object, shipping, and other associated fees will be deducted from your account.<br><br>
                    If these actions are not completed in time, the website will auto-finalize and escrow will be returned back to the respective buyer.

                    <br><br>
                    If you believe that you did your part properly and the vendor or customer is at fault, then you may issue a dispute.<br><br>
                    If it is believed that a vendor or customer has fraudulently lied about the times, or not marked properly, we reserve the right
                    to end the sale, return money back to prospective buyers, and take appropriate action against the account that
                    broke the term and services.

                </li>
            </ul>




            <br><br>
            <h4>Laundering of money/ Investigations, Legal issues  </h4>
            <p>Clearnet Market does not support any laundering, hiding, concealment of money.  Clearnet Market reserves the right to terminate, suspend,
                or give appropriate action if you account is suspected of this.  If Clearnet Market suspects "terrorist financing", fraud,
                laundering, financial schemes, "washing of illegal funds",
                in response to a court order, subpoena, legal action, then we will take appropriate action.  We will inform the seller
                if any legal action is given.  You may contest and we can reverse the actions Clearnet Market has taken upon your account.  Any investigation
                will be notified to the user within 7 days.  During this time, wallet services will be suspended.  </p>





            <br><br>
            <h4>Malware and System Issues </h4>
            <p>Clearnet Market reserves the rights to temporarily stop services to correct, update, or inspect system issues. If malware, virsuses,
                infected code, phishing, spoofing are found to cause loss of security to your account, we are not responsible for lost information, bitcoin, or
                other information lost.  We suggest usuing our services on a private computer, and ensuring that you are running a system free of
                "infections" that could cause a loss of account information, money, etc.</p>







            <br><br>
            <h4>Taxes</h4>
            <p>Taxes are not calculated or recorded by Clearnet Market.  It is the vendors responsibility to collect, report, and withhold
                any taxes to there respective tax authorities. If bitcoin is considered taxable under your respective governing laws,
                it is the user, not Clearnet Market's responsibility to report properly to the tax authorities in there respective country.  </p>






            <br><br>
            <h4>Item payment  </h4>
            <p>Clearnet Market does not sell, buy, or trade digital currencies.  We are not affiliated, partnered, sponsored,
                or have any relation with the online payment methods listed under Clearnet Market including: Paypal, Paypal cash, Amazon,
                Amazon Gift cards, any bank listed within the trading terms, Ebay, Ebay Gift cards, Apple, Apple Gift Cards,
                Samsung Gift Cards, Samsung, Walmart, Walmart Gift Cards, Western Union, Xoom, Vanilla, Visa, Mastercard, Postal Services, USPS, FEDEX,
                Google Wallet,Netspend Reloader Card.</p>






            <br><br>
            <h4>Limitation of liability  </h4>
            <p>Clearnet Market, its providers, sponsors, are not responsible for any loss of currency greater than the respective amount in your account.  Clearnet Market
                is not responsible for financial losses that may occur during a trade, exchange, purchase, sale, dispute, or other transaction.
                <br>
                We are not responsible for loss of profits, business opportunities, intangible, indirect , or other types of loss of value related
                to any sales, exchanges, transactions on Clearnet Market. <br>
                <br>

                By creating an account, you agree that Clearnet Market is "as-is" and "as-available". The software, services, information, are offered without
                warranty.  We do not make an representation or obligation to correct these issues.  You assume all financial losses that may occur due to Clearnet Market.

                We do not offer any guarantee associated with account balances, sales, items, information on a user account.  Our services are offered
                "as-is"
            </p>










        </div>

    </div>

{% endblock %}